In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import datasets, linear_model,preprocessing
from datetime import datetime
import gc
%matplotlib inline
from IPython.display import display, HTML
from pprint import pprint
import time
import nltk.corpus
from nltk.stem.snowball import SnowballStemmer
from ml_metrics import rmse,rmsle

In [2]:
#take 1 CSV, then split it to 3..
class FeatureEngineering:

    def __init__(self, ValidationStart, ValidationEnd, trainHdfPath, trainHdfFile, testHdfPath1, testHdfPath2, testHdfFile, 
                 testTypes, trainTypes, trainCsvPath, testCsvPath, maxLag=0):
        self.ValidationStart = ValidationStart
        self.ValidationEnd = ValidationEnd
        self.maxLag = maxLag
        self.trainHdfPath = trainHdfPath
        self.trainHdfFile = trainHdfFile
        self.testHdfPath1 = testHdfPath1
        self.testHdfPath2 = testHdfPath2
        self.testHdfFile = testHdfFile
        self.testTypes = testTypes
        self.trainTypes = trainTypes
        self.trainCsvPath = trainCsvPath
        self.testCsvPath = testCsvPath
        
    @staticmethod
    def __printDataFrameBasics__(data):
        display(data.head(2))
        #print data.dtypes
        gc.collect()
        print(data.info(memory_usage=True))
        
    @staticmethod    
    def changeIndexTypeToLowerMemory(data):
        ##########
        #This is very critical, i accept max number is 2^32. Also, if don't do that, memory gets so much higher..
        ##########
        #data.reset_index(inplace=True)
        #data.drop("index",axis=1, inplace=True)
        #data.index = data.index.astype('uint32')
        gc.collect()
        
    def ReadHdf(self, trainOrTestOrBoth):
        '''Reads and holds Df in object memory'''            
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train = pd.read_hdf(self.trainHdfPath,self.trainHdfFile)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.train)
            FeatureEngineering.__printDataFrameBasics__(self.train)
            
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            self.test1 = pd.read_hdf(self.testHdfPath1,self.testHdfFile)
            self.test2 = pd.read_hdf(self.testHdfPath2,self.testHdfFile)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test1)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test2)
            FeatureEngineering.__printDataFrameBasics__(self.test1)
            FeatureEngineering.__printDataFrameBasics__(self.test2)
        
    def ReadCsv(self, trainOrTestOrBoth):
        '''Reads and holds Df in memory'''
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth == 'both':
            self.train = pd.read_csv(self.trainCsvPath, usecols=self.trainTypes.keys(), dtype=self.trainTypes)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.train)
            FeatureEngineering.__printDataFrameBasics__(self.train)
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            tempTest = pd.read_csv(self.testCsvPath, usecols=self.testTypes.keys(), dtype=self.testTypes)
            self.test1 = tempTest.loc[tempTest.Semana.values == self.ValidationStart]
            self.test2 = tempTest.loc[tempTest.Semana.values == self.ValidationEnd]
            del tempTest
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test1)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test2)
            FeatureEngineering.__printDataFrameBasics__(self.test1)
            FeatureEngineering.__printDataFrameBasics__(self.test2)
            
    @staticmethod
    def ConvertCsvToHdf(csvPath, HdfPath, HdfName, ColumnTypeDict ):
        tempDf = pd.read_csv(csvPath, usecols=ColumnTypeDict.keys(), dtype=ColumnTypeDict,index=False)
        tempDf.to_hdf(HdfPath, HdfName, format='t')
        del tempDf
        gc.collect()
        print "ConvertCsvToHdf is done.."

    def Preprocess(self, trainOrTestOrBoth, columnFunctionTypeList):
        '''columnFunctionTypeList = [ ['C1',Func1,Type], ['C2',Func2,Type],..    ]'''
        for column, func, localType in columnFunctionTypeList:
            if trainOrTestOrBoth == 'train' or trainOrTestOrBoth =='both':
                self.train.loc[:,column] =  np.apply_along_axis(func,0,FE.train[column].values).astype(localType)
                #np.apply_along_axis(lambda x: x+1,0,FE.train["Semana"]).astype("int32")
            if trainOrTestOrBoth == 'test' or trainOrTestOrBoth == 'both':
                self.test1.loc[:,column] =  np.apply_along_axis(func,0,FE.test1[column].values).astype(localType)
                self.test2.loc[:,column] =  np.apply_along_axis(func,0,FE.test2[column].values).astype(localType)
        gc.collect()
        
    def SaveDataFrameToHdf(self,trainOrTestOrBoth):
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train.to_hdf(self.trainHdfPath, self.trainHdfFile, format='t', index="False")
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            self.test1.to_hdf(self.testHdfPath1, self.testHdfFile, format='t', index="False")
            self.test2.to_hdf(self.testHdfPath2, self.testHdfFile, format='t', index="False")
        
    def AddDemandaGeneralMean(self,trainOrTestOrBoth): 
        #self.train.loc[:,"DemandaGeneralMean"] = self.train["Demanda_uni_equil"].loc[
         #   self.train.loc[:,'Semana'] < 10].mean().astype("float32")
            
        meanOfDemanda = self.train["Demanda_uni_equil"].values.mean().astype("float32")
        
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train.loc[:,"DemandaGeneralMean"] = meanOfDemanda
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            self.test1.loc[:,"DemandaGeneralMean"] = meanOfDemanda
            self.test2.loc[:,"DemandaGeneralMean"] = meanOfDemanda
        
        #self.train.loc[:,"DemandaGeneralMean"] = self.train["Demanda_uni_equil"].values[
        #(self.train.loc[:,'Semana'].values < self.ValidationStart).values].mean().astype("float32")
        gc.collect()
        
    '''ConfigElements(0,[ ("A",["Semana","Agencia_ID"],["count","count"]),'''
    def AddConfigurableFeaturesToTrain(self, config):
        if config.lag > self.maxLag:
            self.maxLag = config.lag
        
        tempData = self.train[self.train['Semana'].values <= (self.ValidationEnd - config.lag)]
        #display(tempData)
        if(config.lag != 0):
            tempData.loc[:,'Semana'] = tempData['Semana'].values + config.lag
        #display(tempData)
        
        #Means iterative.. eliminate as long as np.nan exists..If there is already one, don't create, use the existing
        if config.targetVariable != "" and  config.targetVariable not in self.train.columns:
            self.train.loc[:,config.targetVariable] = np.nan
            self.test1.loc[:,config.targetVariable] = np.nan
            
            if config.lag != 1:
                self.test2.loc[:,config.targetVariable] = np.nan
        
        for name,groups,aggregate in config.nameAndGroups:
            if name not in self.train.columns:
                print "{} is not in columns..".format(name)            
                
                groupedDataframe = tempData[groups+['Demanda_uni_equil']].copy().groupby(groups).agg(aggregate[0])
                gc.collect()
                #groupedDataframe.columns = groupedDataframe.columns.droplevel(0)
                groupedDataframe.columns = [name]
                
                #This is means of the counts of the semana-columns tuples!..!!!
                #If no lag and mean, mean of the columns without semana!!..
                #If there is lag and count, count of the columns x weeks before
                #If there is lag and mean, mean of the columns x weeks before
                #if(config.lag == 0 and aggregate == "count"):
                if(len(aggregate)>1):
                    groupedDataframe.reset_index(inplace=True)
                    groupedDataframe.drop("Semana",axis=1, inplace=True)
                    groups = groups[1:]
                    groupedDataframe = groupedDataframe.groupby(groups).agg(aggregate[1])
                    groupedDataframe.columns = [name]
                    gc.collect()
                
                display(groupedDataframe.head(2))
                self.train = self.train.merge( groupedDataframe, left_on=groups,
                    right_index=True, how='left', sort=False,copy=False)
                gc.collect()
                self.test1 = self.test1.merge( groupedDataframe, left_on=groups,
                    right_index=True, how='left', sort=False,copy=False)
                gc.collect()
                if config.lag != 1:
                    self.test2 = self.test2.merge( groupedDataframe, left_on=groups,
                        right_index=True, how='left', sort=False,copy=False)
                
                del groupedDataframe
                gc.collect()
            else:
                print "{} is in columns..".format(name)
            
            display(self.train.head(2))
            display(self.test1.head(2))
            display(self.test2.head(2))
            
            #Means iterative..!!!!!
            if config.targetVariable != "":
                self.train.loc[pd.isnull(self.train[config.targetVariable].values), 
                    config.targetVariable] = self.train.loc[pd.isnull(self.train[config.targetVariable].values)
                    , name].values
                self.test1.loc[pd.isnull(self.test1[config.targetVariable].values), 
                    config.targetVariable] = self.test1.loc[pd.isnull(self.test1[config.targetVariable].values),
                    name].values
                if config.lag != 1:
                    self.test2.loc[pd.isnull(self.test2[config.targetVariable].values), 
                        config.targetVariable] = self.test2.loc[pd.isnull(self.test2[config.targetVariable].values)
                        , name].values
                    
                count = self.test1[config.targetVariable].isnull().sum()
                print "Count of missing numbers after {} in validation part 1 in column {} is {}".format(name, 
                    config.targetVariable,str(count))
                if config.lag != 1:
                    count = self.test2.loc[:,config.targetVariable].isnull().sum()
                    print "Count of missing numbers after {} in validation part 2 in column {} is {}".format(name, 
                        config.targetVariable,str(count))
                
                
                #display(self.train)
                #If column is already in Dataframe and we want to fill target variable, this deletes columns!!!
                if(config.deleteColumns):
                    self.train.drop(name, axis=1, inplace=True)
                    self.test1.drop(name, axis=1, inplace=True)
                    if config.lag != 1:
                        self.test2.drop(name, axis=1, inplace=True)
                gc.collect()
                #Only in tesst
                #if count == 0:
                 #   break
        del tempData
        display(self.train.head(2))
        display(self.test1.head(2))
        display(self.test2.head(2))
        gc.collect()
        return 
    
    def DeleteLaggedWeeksFromTrain(self):
        self.train = self.train[self.train['Semana'].values >= (3 + self.maxLag)]
        gc.collect()
        display(self.train.head(2))
        
    def ReadFirstNRowsOfACsv(self, nrows, trainOrTestOrBoth) :
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train = pd.read_csv(self.trainCsvPath, usecols=self.trainTypes.keys(), dtype=self.trainTypes, nrows = nrows)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.train)
            FeatureEngineering.__printDataFrameBasics__(self.train)
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            tempTest = pd.read_csv(self.testCsvPath, usecols=self.testTypes.keys(), dtype=self.testTypes, nrows = nrows*2)
            self.test1 = tempTest.loc[tempTest.Semana == self.ValidationStart]
            self.test2 = tempTest.loc[tempTest.Semana == self.ValidationEnd]
            del tempTest
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test1)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test2)
            FeatureEngineering.__printDataFrameBasics__(self.test1)
            FeatureEngineering.__printDataFrameBasics__(self.test2)
    
    #Use when concatanating train and validation before predict test for example..
    def AppendTestToTrain(self,deleteTest = True):
        self.train = self.train.append(self.test1,ignore_index=True)
        gc.collect()
        if(deleteTest):
            del self.test1
            gc.collect()
        try:
            self.train = self.train.append(self.test2,ignore_index=True)
            gc.collect()
            if(deleteTest):
                del self.test2
                gc.collect()
        except:
            pass
        #BAD PERFORMANCE!!
    #Split train data to train and test1 and test2 (validation)
    #def SplitTrainToTestUsingValidationStart(self):
     #   boolCondition = self.train.Semana == self.ValidationStart
      #  self.test1 = self.train.loc[boolCondition]
       # self.train.drop((self.train.loc[boolCondition].index), axis=0,inplace=True)
        
       # boolCondition = self.train.Semana == self.ValidationEnd
       # self.test2 = self.train.loc[boolCondition]
       # self.train.drop((self.train.loc[boolCondition].index), axis=0,inplace=True)
      #  del boolCondition
      #  gc.collect()
    
    #Reaches 3x memory from train, because of test1, test2 and train itself at the end.. GC fixed in the end..
    def SplitTrainToTestUsingValidationStart(self):
        boolCondition = self.train.Semana.values == self.ValidationStart
        self.test1 = self.train[boolCondition]
        boolCondition = self.train.Semana.values == self.ValidationEnd
        self.test2 = self.train[boolCondition]
        FE.train = FE.train[ FE.train.Semana.values < FE.ValidationStart ]
        del boolCondition
        gc.collect()

In [3]:
class ConfigElements:
    def __init__(self, lag, nameAndGroups, targetVariable="", deleteColumns = False):
        self.lag = lag
        self.nameAndGroups = nameAndGroups
        #If there is target variable, then 5 4 3 2 1, fill the np.nans..Else hold them all in Dataframe..
        self.targetVariable = targetVariable
        self.deleteColumns = deleteColumns

In [4]:
parameterDict =       {"ValidationStart":10, 
 "ValidationEnd":11,
   "maxLag":3,
    "trainHdfPath":'../../input/train_full.h5',
    "trainHdfFile":"train",
    "testHdfPath1":"../../input/test1_full.h5",
    "testHdfPath2":"../../input/test2_full.h5",
    "testHdfFile":"test", 
    "trainTypes" : {'Semana':np.uint8, 'Agencia_ID':np.uint16, 'Canal_ID':np.uint8,'Ruta_SAK':np.uint16, 
        'Cliente_ID':np.uint32, 'Producto_ID':np.uint16,'Venta_uni_hoy':np.uint16, 'Venta_hoy':np.float32,
                    'Dev_uni_proxima': np.uint32, 'Dev_proxima':np.float32,'Demanda_uni_equil':np.uint32}, 
    "testTypes" : {'id':np.uint32,'Semana':np.uint8, 'Agencia_ID':np.uint16, 'Canal_ID':np.uint8,'Ruta_SAK':np.uint16,
        'Cliente_ID':np.uint32, 'Producto_ID':np.uint16},
    "trainCsvPath":'../../input/train.csv'   ,
    "testCsvPath":'../../input/test.csv'}

FE = FeatureEngineering(**parameterDict)
print FE.__dict__

{'trainCsvPath': '../../input/train.csv', 'maxLag': 3, 'testTypes': {'Cliente_ID': <type 'numpy.uint32'>, 'Ruta_SAK': <type 'numpy.uint16'>, 'Canal_ID': <type 'numpy.uint8'>, 'Producto_ID': <type 'numpy.uint16'>, 'Agencia_ID': <type 'numpy.uint16'>, 'Semana': <type 'numpy.uint8'>, 'id': <type 'numpy.uint32'>}, 'testHdfFile': 'test', 'trainTypes': {'Dev_proxima': <type 'numpy.float32'>, 'Venta_uni_hoy': <type 'numpy.uint16'>, 'Cliente_ID': <type 'numpy.uint32'>, 'Demanda_uni_equil': <type 'numpy.uint32'>, 'Ruta_SAK': <type 'numpy.uint16'>, 'Canal_ID': <type 'numpy.uint8'>, 'Venta_hoy': <type 'numpy.float32'>, 'Producto_ID': <type 'numpy.uint16'>, 'Agencia_ID': <type 'numpy.uint16'>, 'Dev_uni_proxima': <type 'numpy.uint32'>, 'Semana': <type 'numpy.uint8'>}, 'testHdfPath1': '../../input/test1_full.h5', 'ValidationEnd': 11, 'testHdfPath2': '../../input/test2_full.h5', 'testCsvPath': '../../input/test.csv', 'ValidationStart': 10, 'trainHdfFile': 'train', 'trainHdfPath': '../../input/train_full.h5'}

In [5]:
FE.ReadCsv('both')

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74180464 entries, 0 to 74180463
Data columns (total 11 columns):
Semana               uint8
Agencia_ID           uint16
Canal_ID             uint8
Ruta_SAK             uint16
Cliente_ID           uint32
Producto_ID          uint16
Venta_uni_hoy        uint16
Venta_hoy            float32
Dev_uni_proxima      uint32
Dev_proxima          float32
Demanda_uni_equil    uint32
dtypes: float32(2), uint16(4), uint32(3), uint8(2)
memory usage: 2.1 GB
None

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
2   2      10        2045         1      2831     4549769        32940
7   7      10        1612         1      2837     4414012        35305

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3538385 entries, 2 to 6999247
Data columns (total 7 columns):
id             uint32
Semana         uint8
Agencia_ID     uint16
Canal_ID       uint8
Ruta_SAK       uint16
Cliente_ID     uint32
Producto_ID    uint16
dtypes: uint16(3), uint32(2), uint8(2)
memory usage: 81.0 MB
None

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3460866 entries, 0 to 6999250
Data columns (total 7 columns):
id             uint32
Semana         uint8
Agencia_ID     uint16
Canal_ID       uint8
Ruta_SAK       uint16
Cliente_ID     uint32
Producto_ID    uint16
dtypes: uint16(3), uint32(2), uint8(2)
memory usage: 79.2 MB
None

## Merge town and products..

In [6]:
townstate = pd.read_csv("../../input/town_state.csv", encoding='utf-8')
townstate['Town_ID']=townstate['Town'].str[:4]
states = townstate['State']
le = preprocessing.LabelEncoder()
townstate['State_ID']=le.fit_transform(states)
townstate = townstate.drop(['Town', 'State'], axis=1)
townstate = townstate.astype('uint16')
townstate[['State_ID']] =townstate[['State_ID']] .astype('uint8')
FE.train = pd.merge(FE.train, townstate, on='Agencia_ID', how='left', sort=False,copy=False)
gc.collect()
FE.test1 = pd.merge(FE.test1, townstate, on='Agencia_ID', how='left', sort=False,copy=False)
gc.collect()
FE.test2 = pd.merge(FE.test2, townstate, on='Agencia_ID', how='left', sort=False,copy=False)
gc.collect()

98

In [7]:
products = pd.read_csv("../../input/producto_tabla.csv")
products['short_name'] = products.NombreProducto.str.extract('^(\D*)', expand=False)
products['brand'] = products.NombreProducto.str.extract('^.+\s(\D+) \d+$', expand=False)
w = products.NombreProducto.str.extract('(\d+)(Kg|g)', expand=True)
products['weight'] = w[0].astype('float') * w[1].map({'Kg': 1000, 'g': 1})
products['pieces'] = products.NombreProducto.str.extract('(\d+)p ', expand=False).astype('float')

products['short_name_processed'] = (products['short_name'].
                                    map(lambda x: " ".
                                        join([i for i in x.lower().split() 
                                              if i not in nltk.corpus.stopwords.words("spanish")])))
stemmer = SnowballStemmer("spanish")
products['short_name_processed'] = (products['short_name_processed'].
                                    map(lambda x: " ".join([stemmer.stem(i) for i in x.lower().split()])))

le = preprocessing.LabelEncoder()

products['Prod_name_ID']=le.fit_transform(products['short_name_processed'])
products['Brand_ID']=le.fit_transform(products['brand'])

products = products.drop(['short_name', 'brand', 'short_name_processed', 'NombreProducto'], axis=1)
products.fillna(value=0, inplace=True)
products[['pieces','Brand_ID']] = products[['pieces','Brand_ID']].astype('uint8')
products[['Producto_ID','weight', 'Prod_name_ID']] = products[['Producto_ID','weight', 'Prod_name_ID']].astype('uint16')
FE.train = pd.merge(FE.train, products, on='Producto_ID', how='left', sort=False,copy=False)
gc.collect()
FE.test1 = pd.merge(FE.test1, products, on='Producto_ID', how='left', sort=False,copy=False)
gc.collect()
FE.test2 = pd.merge(FE.test2, products, on='Producto_ID', how='left', sort=False,copy=False)
gc.collect()

14

## Check NA values here.

In [8]:
FE.train[FE.train.isnull().any(axis=1)]

Empty DataFrame
Columns: [Semana, Agencia_ID, Canal_ID, Ruta_SAK, Cliente_ID, Producto_ID, Venta_uni_hoy, Venta_hoy, Dev_uni_proxima, Dev_proxima, Demanda_uni_equil, Town_ID, State_ID, weight, pieces, Prod_name_ID, Brand_ID]
Index: []

In [9]:
FE.test1[FE.test1.isnull().any(axis=1)]

Empty DataFrame
Columns: [id, Semana, Agencia_ID, Canal_ID, Ruta_SAK, Cliente_ID, Producto_ID, Town_ID, State_ID, weight, pieces, Prod_name_ID, Brand_ID]
Index: []

In [10]:
FE.test2[FE.test2.isnull().any(axis=1)]

Empty DataFrame
Columns: [id, Semana, Agencia_ID, Canal_ID, Ruta_SAK, Cliente_ID, Producto_ID, Town_ID, State_ID, weight, pieces, Prod_name_ID, Brand_ID]
Index: []

## Last State of Train, test1 and test2..

In [11]:
display(FE.train.head(2))
display(FE.test1.head(2))
display(FE.test2.head(2))

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,3,2008,16,120,2,709,4
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,4,2008,16,135,2,712,4

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4

## Convert to Log..

In [12]:
FE.train.loc[:,"Demanda_uni_equil"] = np.log1p (FE.train["Demanda_uni_equil"].values)
gc.collect()

248

## Split Train to test1 test2

In [13]:
#FE.SplitTrainToTestUsingValidationStart()

## Add DemandaNotEqualTheDifferenceOfVentaUniAndDev to model products delivered later..

In [14]:
FE.train.loc[:,"DemandaNotEqualTheDifferenceOfVentaUniAndDev"] = FE.train.Demanda_uni_equil.values < (
    FE.train.Venta_uni_hoy.values - FE.train.Dev_uni_proxima.values)
gc.collect()

0

## Delete Demanda = 0  and Venta = 0

In [15]:
FE.train = FE.train[(FE.train.Demanda_uni_equil.values != 0) & (FE.train.Venta_uni_hoy.values != 0)]
gc.collect()

35

In [16]:
FE.SaveDataFrameToHdf('both')

In [17]:
FE.ReadHdf('both')

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72843643 entries, 0 to 74180463
Data columns (total 18 columns):
Semana                                          uint8
Agencia_ID                                      uint16
Canal_ID                                        uint8
Ruta_SAK                                        uint16
Cliente_ID                                      uint32
Producto_ID                                     uint16
Venta_uni_hoy                                   uint16
Venta_hoy                                       float32
Dev_uni_proxima                                 uint32
Dev_proxima                                     float32
Demanda_uni_equil                               float64
Town_ID                                         uint16
State_ID                                        uint8
weight                                          uint16
pieces                                          uint8
Prod_name_ID                                    uint16
Brand_ID                                        uint8
DemandaNotEqualTheDifferenceOfVentaUniAndDev    bool
dtypes: bool(1), float32(2), float64(1), uint16(7), uint32(2), uint8(5)
memory usage: 3.5 GB
None

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3538385 entries, 0 to 3538384
Data columns (total 13 columns):
id              uint32
Semana          uint8
Agencia_ID      uint16
Canal_ID        uint8
Ruta_SAK        uint16
Cliente_ID      uint32
Producto_ID     uint16
Town_ID         uint16
State_ID        uint8
weight          uint16
pieces          uint8
Prod_name_ID    uint16
Brand_ID        uint8
dtypes: uint16(6), uint32(2), uint8(5)
memory usage: 111.4 MB
None

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3460866 entries, 0 to 3460865
Data columns (total 13 columns):
id              uint32
Semana          uint8
Agencia_ID      uint16
Canal_ID        uint8
Ruta_SAK        uint16
Cliente_ID      uint32
Producto_ID     uint16
Town_ID         uint16
State_ID        uint8
weight          uint16
pieces          uint8
Prod_name_ID    uint16
Brand_ID        uint8
dtypes: uint16(6), uint32(2), uint8(5)
memory usage: 108.9 MB
None

## Grouping for Lag0

In [18]:
configLag0Target1DeleteColumnsFalse = ConfigElements(0,[ ("SPClRACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClRA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPClRCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClR0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPClA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPClCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPCl0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPR0_mean",[
                                                              "Producto_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPA0_mean",[
                                                              "Producto_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPCh0_mean",[
                                                              "Producto_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPT0_mean",[
                                                              "Producto_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPSt0_mean",[
                                                              "Producto_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SP0_mean",[
                                                              "Producto_ID"],
                                                          ["mean"]),
                                                      ("SPnClRACh0_mean",[  ##PRODNAMES START
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClRA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPnClRCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClACh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClR0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPnClA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnClCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnCl0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPnR0_mean",[
                                                              "Prod_name_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPnA0_mean",[
                                                              "Prod_name_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnT0_mean",[
                                                              "Prod_name_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPnSt0_mean",[
                                                              "Prod_name_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SPn0_mean",[
                                                              "Prod_name_ID"],
                                                          ["mean"]),
                                                       ("SBClRACh0_mean",[ ##brand id START
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SBClRA0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SBClRCh0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SBClACh0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SBClR0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SBClA0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SBClCh0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SBCl0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SBR0_mean",[
                                                              "Brand_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SBA0_mean",[
                                                              "Brand_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SBCh0_mean",[
                                                              "Brand_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SBT0_mean",[
                                                              "Brand_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SBSt0_mean",[
                                                              "Brand_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SB0_mean",[
                                                              "Brand_ID"],
                                                          ["mean"])
                                                       
                                                       
                                                       ], "Lag0", True)
print  configLag0Target1DeleteColumnsFalse.__dict__

{'nameAndGroups': [('SPClRACh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClRA0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPClRCh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPClACh0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClR0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPClA0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPClCh0_mean', ['Producto_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPCl0_mean', ['Producto_ID', 'Cliente_ID'], ['mean']), ('SPR0_mean', ['Producto_ID', 'Ruta_SAK'], ['mean']), ('SPA0_mean', ['Producto_ID', 'Agencia_ID'], ['mean']), ('SPCh0_mean', ['Producto_ID', 'Canal_ID'], ['mean']), ('SPT0_mean', ['Producto_ID', 'Town_ID'], ['mean']), ('SPSt0_mean', ['Producto_ID', 'State_ID'], ['mean']), ('SP0_mean', ['Producto_ID'], ['mean']), ('SPnClRACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClRA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPnClRCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPnClACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClR0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPnClA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPnClCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPnCl0_mean', ['Prod_name_ID', 'Cliente_ID'], ['mean']), ('SPnR0_mean', ['Prod_name_ID', 'Ruta_SAK'], ['mean']), ('SPnA0_mean', ['Prod_name_ID', 'Agencia_ID'], ['mean']), ('SPnCh0_mean', ['Prod_name_ID', 'Canal_ID'], ['mean']), ('SPnT0_mean', ['Prod_name_ID', 'Town_ID'], ['mean']), ('SPnSt0_mean', ['Prod_name_ID', 'State_ID'], ['mean']), ('SPn0_mean', ['Prod_name_ID'], ['mean']), ('SBClRACh0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SBClRA0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SBClRCh0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SBClACh0_mean', ['Brand_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SBClR0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SBClA0_mean', ['Brand_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SBClCh0_mean', ['Brand_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SBCl0_mean', ['Brand_ID', 'Cliente_ID'], ['mean']), ('SBR0_mean', ['Brand_ID', 'Ruta_SAK'], ['mean']), ('SBA0_mean', ['Brand_ID', 'Agencia_ID'], ['mean']), ('SBCh0_mean', ['Brand_ID', 'Canal_ID'], ['mean']), ('SBT0_mean', ['Brand_ID', 'Town_ID'], ['mean']), ('SBSt0_mean', ['Brand_ID', 'State_ID'], ['mean']), ('SB0_mean', ['Brand_ID'], ['mean'])], 'lag': 0, 'targetVariable': 'Lag0', 'deleteColumns': True}

In [19]:
FE.AddConfigurableFeaturesToTrain(configLag0Target1DeleteColumnsFalse)

SPClRACh0_mean is not in columns..

                                                     SPClRACh0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
41          146030     3303     2281       7               4.069195
            681747     3306     2281       7               7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,NaN,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,NaN,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,NaN,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,NaN,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,NaN,NaN

Count of missing numbers after SPClRACh0_mean in validation part 1 in column Lag0 is 633506
Count of missing numbers after SPClRACh0_mean in validation part 2 in column Lag0 is 838974
SPClRA0_mean is not in columns..

                                            SPClRA0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID
41          146030     3303     2281            4.069195
            681747     3306     2281            7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,NaN,NaN

Count of missing numbers after SPClRA0_mean in validation part 1 in column Lag0 is 633320
Count of missing numbers after SPClRA0_mean in validation part 2 in column Lag0 is 838754
SPClRCh0_mean is not in columns..

                                          SPClRCh0_mean
Producto_ID Cliente_ID Ruta_SAK Canal_ID
41          146030     3303     7              4.069195
            681747     3306     7              7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,NaN,NaN

Count of missing numbers after SPClRCh0_mean in validation part 1 in column Lag0 is 633214
Count of missing numbers after SPClRCh0_mean in validation part 2 in column Lag0 is 838568
SPClACh0_mean is not in columns..

                                            SPClACh0_mean
Producto_ID Cliente_ID Agencia_ID Canal_ID
41          146030     2281       7              4.069195
            681747     2281       7              7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,NaN,NaN

Count of missing numbers after SPClACh0_mean in validation part 1 in column Lag0 is 602311
Count of missing numbers after SPClACh0_mean in validation part 2 in column Lag0 is 791317
SPClR0_mean is not in columns..

                                 SPClR0_mean
Producto_ID Cliente_ID Ruta_SAK
41          146030     3303         4.069195
            681747     3306         7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,NaN,NaN

Count of missing numbers after SPClR0_mean in validation part 1 in column Lag0 is 602311
Count of missing numbers after SPClR0_mean in validation part 2 in column Lag0 is 791317
SPClA0_mean is not in columns..

                                   SPClA0_mean
Producto_ID Cliente_ID Agencia_ID
41          146030     2281           4.069195
            681747     2281           7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,NaN,NaN

Count of missing numbers after SPClA0_mean in validation part 1 in column Lag0 is 601641
Count of missing numbers after SPClA0_mean in validation part 2 in column Lag0 is 790356
SPClCh0_mean is not in columns..

                                 SPClCh0_mean
Producto_ID Cliente_ID Canal_ID
41          146030     7             4.069195
            681747     7             7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,NaN,NaN

Count of missing numbers after SPClCh0_mean in validation part 1 in column Lag0 is 601373
Count of missing numbers after SPClCh0_mean in validation part 2 in column Lag0 is 789928
SPCl0_mean is not in columns..

                        SPCl0_mean
Producto_ID Cliente_ID
41          146030        4.069195
            681747        7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPCl0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPCl0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,NaN,NaN

Count of missing numbers after SPCl0_mean in validation part 1 in column Lag0 is 601227
Count of missing numbers after SPCl0_mean in validation part 2 in column Lag0 is 789730
SPR0_mean is not in columns..

                      SPR0_mean
Producto_ID Ruta_SAK
41          3201       3.069398
            3301       4.890607

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.567818
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.692333

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.361673
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,NaN,1.897133

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.630124
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,NaN,1.035384

Count of missing numbers after SPR0_mean in validation part 1 in column Lag0 is 61723
Count of missing numbers after SPR0_mean in validation part 2 in column Lag0 is 100443
SPA0_mean is not in columns..

                        SPA0_mean
Producto_ID Agencia_ID
41          1958         3.157450
            2278         4.890607

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.594994
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.439462

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,2.056763

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.917541
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.045136

Count of missing numbers after SPA0_mean in validation part 1 in column Lag0 is 56964
Count of missing numbers after SPA0_mean in validation part 2 in column Lag0 is 94002
SPCh0_mean is not in columns..

                      SPCh0_mean
Producto_ID Canal_ID
41          7           4.823784
53          4           4.118901

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.529205
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.538908

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.430278
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,2.076531

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,2.076531
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.222075

Count of missing numbers after SPCh0_mean in validation part 1 in column Lag0 is 1900
Count of missing numbers after SPCh0_mean in validation part 2 in column Lag0 is 23999
SPT0_mean is not in columns..

                     SPT0_mean
Producto_ID Town_ID
41          2288      3.157450
            2381      5.583857

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.727410
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.565591

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPT0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,2.056763

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPT0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,2.002497
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.093148

Count of missing numbers after SPT0_mean in validation part 1 in column Lag0 is 1891
Count of missing numbers after SPT0_mean in validation part 2 in column Lag0 is 23981
SPSt0_mean is not in columns..

                      SPSt0_mean
Producto_ID State_ID
41          22          4.995367
            25          3.157450

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.408791
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.283250

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPSt0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.425756
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,2.095363

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPSt0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,2.044083
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.123500

Count of missing numbers after SPSt0_mean in validation part 1 in column Lag0 is 1868
Count of missing numbers after SPSt0_mean in validation part 2 in column Lag0 is 23955
SP0_mean is not in columns..

             SP0_mean
Producto_ID
41           4.823784
53           4.118901

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SP0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.189326
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.214402

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SP0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.453327
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,2.090893

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SP0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,2.090893
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.260052

Count of missing numbers after SP0_mean in validation part 1 in column Lag0 is 1809
Count of missing numbers after SP0_mean in validation part 2 in column Lag0 is 23849
SPnClRACh0_mean is not in columns..

                                                      SPnClRACh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
0            60         7238     2061       2                4.956561
             65         7250     2061       2                4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN

Count of missing numbers after SPnClRACh0_mean in validation part 1 in column Lag0 is 1658
Count of missing numbers after SPnClRACh0_mean in validation part 2 in column Lag0 is 23415
SPnClRA0_mean is not in columns..

                                             SPnClRA0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID
0            60         7238     2061             4.956561
             65         7250     2061             4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN

Count of missing numbers after SPnClRA0_mean in validation part 1 in column Lag0 is 1658
Count of missing numbers after SPnClRA0_mean in validation part 2 in column Lag0 is 23415
SPnClRCh0_mean is not in columns..

                                           SPnClRCh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Canal_ID
0            60         7238     2               4.956561
             65         7250     2               4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN

Count of missing numbers after SPnClRCh0_mean in validation part 1 in column Lag0 is 1657
Count of missing numbers after SPnClRCh0_mean in validation part 2 in column Lag0 is 23415
SPnClACh0_mean is not in columns..

                                             SPnClACh0_mean
Prod_name_ID Cliente_ID Agencia_ID Canal_ID
0            60         2061       2               4.956561
             65         2061       2               4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN

Count of missing numbers after SPnClACh0_mean in validation part 1 in column Lag0 is 1657
Count of missing numbers after SPnClACh0_mean in validation part 2 in column Lag0 is 23414
SPnClR0_mean is not in columns..

                                  SPnClR0_mean
Prod_name_ID Cliente_ID Ruta_SAK
0            60         7238          4.956561
             65         7250          4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN

Count of missing numbers after SPnClR0_mean in validation part 1 in column Lag0 is 1657
Count of missing numbers after SPnClR0_mean in validation part 2 in column Lag0 is 23414
SPnClA0_mean is not in columns..

                                    SPnClA0_mean
Prod_name_ID Cliente_ID Agencia_ID
0            60         2061            4.956561
             65         2061            4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN

Count of missing numbers after SPnClA0_mean in validation part 1 in column Lag0 is 1657
Count of missing numbers after SPnClA0_mean in validation part 2 in column Lag0 is 23414
SPnClCh0_mean is not in columns..

                                  SPnClCh0_mean
Prod_name_ID Cliente_ID Canal_ID
0            60         2              4.956561
             65         2              4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN

Count of missing numbers after SPnClCh0_mean in validation part 1 in column Lag0 is 1657
Count of missing numbers after SPnClCh0_mean in validation part 2 in column Lag0 is 23414
SPnCl0_mean is not in columns..

                         SPnCl0_mean
Prod_name_ID Cliente_ID
0            60             4.956561
             65             4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnCl0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnCl0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN

Count of missing numbers after SPnCl0_mean in validation part 1 in column Lag0 is 1657
Count of missing numbers after SPnCl0_mean in validation part 2 in column Lag0 is 23414
SPnR0_mean is not in columns..

                       SPnR0_mean
Prod_name_ID Ruta_SAK
0            1           4.026461
             2           3.944476

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.560787
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.717164

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.363776
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.886914

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.512888
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.028559

Count of missing numbers after SPnR0_mean in validation part 1 in column Lag0 is 1608
Count of missing numbers after SPnR0_mean in validation part 2 in column Lag0 is 21736
SPnA0_mean is not in columns..

                         SPnA0_mean
Prod_name_ID Agencia_ID
0            1110          1.851679
             1114          3.632199

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.608059
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.451677

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,2.031578

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.893845
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.045136

Count of missing numbers after SPnA0_mean in validation part 1 in column Lag0 is 1608
Count of missing numbers after SPnA0_mean in validation part 2 in column Lag0 is 21735
SPnCh0_mean is not in columns..

                       SPnCh0_mean
Prod_name_ID Canal_ID
0            1            2.098411
             2            3.269872

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.512192
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.539623

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.438992
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,2.061279

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,2.061279
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.214690

Count of missing numbers after SPnCh0_mean in validation part 1 in column Lag0 is 1215
Count of missing numbers after SPnCh0_mean in validation part 2 in column Lag0 is 17826
SPnT0_mean is not in columns..

                      SPnT0_mean
Prod_name_ID Town_ID
0            2008       1.851679
             2011       3.484314

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.617439
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.530108

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnT0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,2.067881

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnT0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.993003
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.093148

Count of missing numbers after SPnT0_mean in validation part 1 in column Lag0 is 1215
Count of missing numbers after SPnT0_mean in validation part 2 in column Lag0 is 17826
SPnSt0_mean is not in columns..

                       SPnSt0_mean
Prod_name_ID State_ID
0            0            3.356161
             1            2.575719

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.343855
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.229944

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnSt0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.425756
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,2.136643

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnSt0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,2.077371
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.123500

Count of missing numbers after SPnSt0_mean in validation part 1 in column Lag0 is 1215
Count of missing numbers after SPnSt0_mean in validation part 2 in column Lag0 is 17826
SPn0_mean is not in columns..

              SPn0_mean
Prod_name_ID
0              3.049421
1              3.842135

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPn0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.177229
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.227086

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPn0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.468063
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,2.109973

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPn0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,2.109973
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.257738

Count of missing numbers after SPn0_mean in validation part 1 in column Lag0 is 1215
Count of missing numbers after SPn0_mean in validation part 2 in column Lag0 is 17824
SBClRACh0_mean is not in columns..

                                                  SBClRACh0_mean
Brand_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
3        1589       3915     2095       11              1.791759
         1697       3914     2095       11              0.693147

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.568451
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.568451

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.763140
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.447219

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.258314
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.255255

Count of missing numbers after SBClRACh0_mean in validation part 1 in column Lag0 is 1029
Count of missing numbers after SBClRACh0_mean in validation part 2 in column Lag0 is 1083
SBClRA0_mean is not in columns..

                                         SBClRA0_mean
Brand_ID Cliente_ID Ruta_SAK Agencia_ID
3        1589       3915     2095            1.791759
         1697       3914     2095            0.693147

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.568451
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.568451

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.763140
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.447219

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.258314
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.255255

Count of missing numbers after SBClRA0_mean in validation part 1 in column Lag0 is 1029
Count of missing numbers after SBClRA0_mean in validation part 2 in column Lag0 is 1083
SBClRCh0_mean is not in columns..

                                       SBClRCh0_mean
Brand_ID Cliente_ID Ruta_SAK Canal_ID
3        1589       3915     11             1.791759
         1697       3914     11             0.693147

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.568451
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.568451

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.763140
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.447219

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.258314
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.255255

Count of missing numbers after SBClRCh0_mean in validation part 1 in column Lag0 is 1029
Count of missing numbers after SBClRCh0_mean in validation part 2 in column Lag0 is 1083
SBClACh0_mean is not in columns..

                                         SBClACh0_mean
Brand_ID Cliente_ID Agencia_ID Canal_ID
3        1589       2095       11             1.791759
         1697       2095       11             0.693147

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.568451
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.568451

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.763140
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.447219

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.258314
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.255255

Count of missing numbers after SBClACh0_mean in validation part 1 in column Lag0 is 278
Count of missing numbers after SBClACh0_mean in validation part 2 in column Lag0 is 391
SBClR0_mean is not in columns..

                              SBClR0_mean
Brand_ID Cliente_ID Ruta_SAK
3        1589       3915         1.791759
         1697       3914         0.693147

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.568451
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.568451

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.763140
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.447219

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.258314
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.255255

Count of missing numbers after SBClR0_mean in validation part 1 in column Lag0 is 278
Count of missing numbers after SBClR0_mean in validation part 2 in column Lag0 is 391
SBClA0_mean is not in columns..

                                SBClA0_mean
Brand_ID Cliente_ID Agencia_ID
3        1589       2095           1.791759
         1697       2095           0.693147

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.568451
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.568451

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.763140
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.447219

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.258314
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.255255

Count of missing numbers after SBClA0_mean in validation part 1 in column Lag0 is 277
Count of missing numbers after SBClA0_mean in validation part 2 in column Lag0 is 389
SBClCh0_mean is not in columns..

                              SBClCh0_mean
Brand_ID Cliente_ID Canal_ID
3        1589       11            1.791759
         1697       11            0.693147

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.568451
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.568451

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.763140
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.447219

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.258314
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.255255

Count of missing numbers after SBClCh0_mean in validation part 1 in column Lag0 is 277
Count of missing numbers after SBClCh0_mean in validation part 2 in column Lag0 is 387
SBCl0_mean is not in columns..

                     SBCl0_mean
Brand_ID Cliente_ID
3        1589          1.791759
         1697          0.693147

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.568451
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.568451

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBCl0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.763140
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.447219

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBCl0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.258314
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.255255

Count of missing numbers after SBCl0_mean in validation part 1 in column Lag0 is 277
Count of missing numbers after SBCl0_mean in validation part 2 in column Lag0 is 387
SBR0_mean is not in columns..

                   SBR0_mean
Brand_ID Ruta_SAK
3        3001       4.824910
         3002       4.781938

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,2.119172
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,2.119172

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.541877
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.504827

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.330706
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.415260

Count of missing numbers after SBR0_mean in validation part 1 in column Lag0 is 5
Count of missing numbers after SBR0_mean in validation part 2 in column Lag0 is 6
SBA0_mean is not in columns..

                     SBA0_mean
Brand_ID Agencia_ID
3        1110         1.394473
         1139         1.134929

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.988936
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.988936

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.606451
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.648382

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.562466
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.399423

Count of missing numbers after SBA0_mean in validation part 1 in column Lag0 is 2
Count of missing numbers after SBA0_mean in validation part 2 in column Lag0 is 3
SBCh0_mean is not in columns..

                   SBCh0_mean
Brand_ID Canal_ID
3        1           1.544594
         5           4.745010

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.982358
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.982358

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.616758
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.616758

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.616758
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.530925

Count of missing numbers after SBCh0_mean in validation part 1 in column Lag0 is 2
Count of missing numbers after SBCh0_mean in validation part 2 in column Lag0 is 3
SBT0_mean is not in columns..

                  SBT0_mean
Brand_ID Town_ID
3        2008      1.394473
         2010      1.123628

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.885836
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.885836

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBT0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.610906
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.688135

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBT0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.689907
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.474500

Count of missing numbers after SBT0_mean in validation part 1 in column Lag0 is 2
Count of missing numbers after SBT0_mean in validation part 2 in column Lag0 is 3
SBSt0_mean is not in columns..

                   SBSt0_mean
Brand_ID State_ID
3        0           4.456432
         1           4.711088

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.738428
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.738428

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBSt0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.570597
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.698255

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBSt0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.703770
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.499418

Count of missing numbers after SBSt0_mean in validation part 1 in column Lag0 is 2
Count of missing numbers after SBSt0_mean in validation part 2 in column Lag0 is 3
SB0_mean is not in columns..

          SB0_mean
Brand_ID
3         4.585919
4         1.595374

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SB0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.595374
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.595374

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SB0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.685899
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.685899

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SB0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.685899
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.595374

Count of missing numbers after SB0_mean in validation part 1 in column Lag0 is 2
Count of missing numbers after SB0_mean in validation part 2 in column Lag0 is 3

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

In [20]:
FE.train.fillna(value=0, inplace=True)
FE.test1.fillna(value=0, inplace=True)
FE.test2.fillna(value=0, inplace=True)

In [21]:
FE.SaveDataFrameToHdf('both')

In [23]:
print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag0))
#print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag0))
#print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag0))

('RMSLE Score:', 0.30244135602997674)

In [24]:
configLag0Target1DeleteColumnsFalse = ConfigElements(1,[ ("SPClRACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClRA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPClRCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClR0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPClA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPClCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPCl0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPR0_mean",[
                                                              "Producto_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPA0_mean",[
                                                              "Producto_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPCh0_mean",[
                                                              "Producto_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPT0_mean",[
                                                              "Producto_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPSt0_mean",[
                                                              "Producto_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SP0_mean",[
                                                              "Producto_ID"],
                                                          ["mean"]),
                                                      ("SPnClRACh0_mean",[  ##PRODNAMES START
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClRA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPnClRCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClACh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClR0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPnClA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnClCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnCl0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPnR0_mean",[
                                                              "Prod_name_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPnA0_mean",[
                                                              "Prod_name_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnT0_mean",[
                                                              "Prod_name_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPnSt0_mean",[
                                                              "Prod_name_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SPn0_mean",[
                                                              "Prod_name_ID"],
                                                          ["mean"])

                                                       
                                                       ], "Lag1", True)
print  configLag0Target1DeleteColumnsFalse.__dict__

{'nameAndGroups': [('SPClRACh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClRA0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPClRCh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPClACh0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClR0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPClA0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPClCh0_mean', ['Producto_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPCl0_mean', ['Producto_ID', 'Cliente_ID'], ['mean']), ('SPR0_mean', ['Producto_ID', 'Ruta_SAK'], ['mean']), ('SPA0_mean', ['Producto_ID', 'Agencia_ID'], ['mean']), ('SPCh0_mean', ['Producto_ID', 'Canal_ID'], ['mean']), ('SPT0_mean', ['Producto_ID', 'Town_ID'], ['mean']), ('SPSt0_mean', ['Producto_ID', 'State_ID'], ['mean']), ('SP0_mean', ['Producto_ID'], ['mean']), ('SPnClRACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClRA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPnClRCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPnClACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClR0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPnClA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPnClCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPnCl0_mean', ['Prod_name_ID', 'Cliente_ID'], ['mean']), ('SPnR0_mean', ['Prod_name_ID', 'Ruta_SAK'], ['mean']), ('SPnA0_mean', ['Prod_name_ID', 'Agencia_ID'], ['mean']), ('SPnCh0_mean', ['Prod_name_ID', 'Canal_ID'], ['mean']), ('SPnT0_mean', ['Prod_name_ID', 'Town_ID'], ['mean']), ('SPnSt0_mean', ['Prod_name_ID', 'State_ID'], ['mean']), ('SPn0_mean', ['Prod_name_ID'], ['mean'])], 'lag': 1, 'targetVariable': 'Lag1', 'deleteColumns': True}

In [25]:
FE.AddConfigurableFeaturesToTrain(configLag0Target1DeleteColumnsFalse)

SPClRACh0_mean is not in columns..

                                                     SPClRACh0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
41          146030     3303     2281       7               4.069195
            681747     3306     2281       7               7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,NaN,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,NaN,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClRACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,NaN,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPClRACh0_mean in validation part 1 in column Lag1 is 633506
SPClRA0_mean is not in columns..

                                            SPClRA0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID
41          146030     3303     2281            4.069195
            681747     3306     2281            7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClRA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPClRA0_mean in validation part 1 in column Lag1 is 633320
SPClRCh0_mean is not in columns..

                                          SPClRCh0_mean
Producto_ID Cliente_ID Ruta_SAK Canal_ID
41          146030     3303     7              4.069195
            681747     3306     7              7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClRCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPClRCh0_mean in validation part 1 in column Lag1 is 633214
SPClACh0_mean is not in columns..

                                            SPClACh0_mean
Producto_ID Cliente_ID Agencia_ID Canal_ID
41          146030     2281       7              4.069195
            681747     2281       7              7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPClACh0_mean in validation part 1 in column Lag1 is 602311
SPClR0_mean is not in columns..

                                 SPClR0_mean
Producto_ID Cliente_ID Ruta_SAK
41          146030     3303         4.069195
            681747     3306         7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPClR0_mean in validation part 1 in column Lag1 is 602311
SPClA0_mean is not in columns..

                                   SPClA0_mean
Producto_ID Cliente_ID Agencia_ID
41          146030     2281           4.069195
            681747     2281           7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPClA0_mean in validation part 1 in column Lag1 is 601641
SPClCh0_mean is not in columns..

                                 SPClCh0_mean
Producto_ID Cliente_ID Canal_ID
41          146030     7             4.069195
            681747     7             7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPClCh0_mean in validation part 1 in column Lag1 is 601373
SPCl0_mean is not in columns..

                        SPCl0_mean
Producto_ID Cliente_ID
41          146030        4.069195
            681747        7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPCl0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPCl0_mean in validation part 1 in column Lag1 is 601227
SPR0_mean is not in columns..

                      SPR0_mean
Producto_ID Ruta_SAK
41          3201       3.069398
            3301       4.890607

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.567818
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.692333

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.361673
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,NaN,1.897133

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPR0_mean in validation part 1 in column Lag1 is 61723
SPA0_mean is not in columns..

                        SPA0_mean
Producto_ID Agencia_ID
41          1958         3.157450
            2278         4.890607

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.594994
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.439462

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,2.056763

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPA0_mean in validation part 1 in column Lag1 is 56964
SPCh0_mean is not in columns..

                      SPCh0_mean
Producto_ID Canal_ID
41          7           4.823784
53          4           4.118901

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.529205
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.538908

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.430278
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,2.076531

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPCh0_mean in validation part 1 in column Lag1 is 1900
SPT0_mean is not in columns..

                     SPT0_mean
Producto_ID Town_ID
41          2288      3.157450
            2381      5.583857

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.727410
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.565591

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPT0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,2.056763

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPT0_mean in validation part 1 in column Lag1 is 1891
SPSt0_mean is not in columns..

                      SPSt0_mean
Producto_ID State_ID
41          22          4.995367
            25          3.157450

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.408791
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.283250

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPSt0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.425756
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,2.095363

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPSt0_mean in validation part 1 in column Lag1 is 1868
SP0_mean is not in columns..

             SP0_mean
Producto_ID
41           4.823784
53           4.118901

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SP0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.189326
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.214402

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SP0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.453327
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,2.090893

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SP0_mean in validation part 1 in column Lag1 is 1809
SPnClRACh0_mean is not in columns..

                                                      SPnClRACh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
0            60         7238     2061       2                4.956561
             65         7250     2061       2                4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClRACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnClRACh0_mean in validation part 1 in column Lag1 is 1658
SPnClRA0_mean is not in columns..

                                             SPnClRA0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID
0            60         7238     2061             4.956561
             65         7250     2061             4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClRA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnClRA0_mean in validation part 1 in column Lag1 is 1658
SPnClRCh0_mean is not in columns..

                                           SPnClRCh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Canal_ID
0            60         7238     2               4.956561
             65         7250     2               4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClRCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnClRCh0_mean in validation part 1 in column Lag1 is 1657
SPnClACh0_mean is not in columns..

                                             SPnClACh0_mean
Prod_name_ID Cliente_ID Agencia_ID Canal_ID
0            60         2061       2               4.956561
             65         2061       2               4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnClACh0_mean in validation part 1 in column Lag1 is 1657
SPnClR0_mean is not in columns..

                                  SPnClR0_mean
Prod_name_ID Cliente_ID Ruta_SAK
0            60         7238          4.956561
             65         7250          4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnClR0_mean in validation part 1 in column Lag1 is 1657
SPnClA0_mean is not in columns..

                                    SPnClA0_mean
Prod_name_ID Cliente_ID Agencia_ID
0            60         2061            4.956561
             65         2061            4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnClA0_mean in validation part 1 in column Lag1 is 1657
SPnClCh0_mean is not in columns..

                                  SPnClCh0_mean
Prod_name_ID Cliente_ID Canal_ID
0            60         2              4.956561
             65         2              4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnClCh0_mean in validation part 1 in column Lag1 is 1657
SPnCl0_mean is not in columns..

                         SPnCl0_mean
Prod_name_ID Cliente_ID
0            60             4.956561
             65             4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnCl0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnCl0_mean in validation part 1 in column Lag1 is 1657
SPnR0_mean is not in columns..

                       SPnR0_mean
Prod_name_ID Ruta_SAK
0            1           4.026461
             2           3.944476

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.560787
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.717164

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.363776
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.886914

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnR0_mean in validation part 1 in column Lag1 is 1608
SPnA0_mean is not in columns..

                         SPnA0_mean
Prod_name_ID Agencia_ID
0            1110          1.851679
             1114          3.632199

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.608059
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.451677

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,2.031578

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnA0_mean in validation part 1 in column Lag1 is 1608
SPnCh0_mean is not in columns..

                       SPnCh0_mean
Prod_name_ID Canal_ID
0            1            2.098411
             2            3.269872

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.512192
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.539623

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.438992
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,2.061279

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnCh0_mean in validation part 1 in column Lag1 is 1215
SPnT0_mean is not in columns..

                      SPnT0_mean
Prod_name_ID Town_ID
0            2008       1.851679
             2011       3.484314

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.617439
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.530108

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnT0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,2.067881

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnT0_mean in validation part 1 in column Lag1 is 1215
SPnSt0_mean is not in columns..

                       SPnSt0_mean
Prod_name_ID State_ID
0            0            3.356161
             1            2.575719

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.343855
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.229944

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnSt0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.425756
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,2.136643

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPnSt0_mean in validation part 1 in column Lag1 is 1215
SPn0_mean is not in columns..

              SPn0_mean
Prod_name_ID
0              3.049421
1              3.842135

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPn0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.177229
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.227086

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPn0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.468063
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,2.109973

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

Count of missing numbers after SPn0_mean in validation part 1 in column Lag1 is 1215

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384

In [26]:
FE.train.fillna(value=0, inplace=True)
FE.test1.fillna(value=0, inplace=True)
FE.test2.fillna(value=0, inplace=True)

In [27]:
FE.SaveDataFrameToHdf('both')

In [28]:
configLag0Target1DeleteColumnsFalse = ConfigElements(2,[ ("SPClRACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClRA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPClRCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClR0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPClA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPClCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPCl0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPR0_mean",[
                                                              "Producto_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPA0_mean",[
                                                              "Producto_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPCh0_mean",[
                                                              "Producto_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPT0_mean",[
                                                              "Producto_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPSt0_mean",[
                                                              "Producto_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SP0_mean",[
                                                              "Producto_ID"],
                                                          ["mean"]),
                                                      ("SPnClRACh0_mean",[  ##PRODNAMES START
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClRA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPnClRCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClACh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClR0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPnClA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnClCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnCl0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPnR0_mean",[
                                                              "Prod_name_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPnA0_mean",[
                                                              "Prod_name_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnT0_mean",[
                                                              "Prod_name_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPnSt0_mean",[
                                                              "Prod_name_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SPn0_mean",[
                                                              "Prod_name_ID"],
                                                          ["mean"])

                                                       
                                                       ], "Lag2", True)
print  configLag0Target1DeleteColumnsFalse.__dict__

{'nameAndGroups': [('SPClRACh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClRA0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPClRCh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPClACh0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClR0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPClA0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPClCh0_mean', ['Producto_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPCl0_mean', ['Producto_ID', 'Cliente_ID'], ['mean']), ('SPR0_mean', ['Producto_ID', 'Ruta_SAK'], ['mean']), ('SPA0_mean', ['Producto_ID', 'Agencia_ID'], ['mean']), ('SPCh0_mean', ['Producto_ID', 'Canal_ID'], ['mean']), ('SPT0_mean', ['Producto_ID', 'Town_ID'], ['mean']), ('SPSt0_mean', ['Producto_ID', 'State_ID'], ['mean']), ('SP0_mean', ['Producto_ID'], ['mean']), ('SPnClRACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClRA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPnClRCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPnClACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClR0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPnClA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPnClCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPnCl0_mean', ['Prod_name_ID', 'Cliente_ID'], ['mean']), ('SPnR0_mean', ['Prod_name_ID', 'Ruta_SAK'], ['mean']), ('SPnA0_mean', ['Prod_name_ID', 'Agencia_ID'], ['mean']), ('SPnCh0_mean', ['Prod_name_ID', 'Canal_ID'], ['mean']), ('SPnT0_mean', ['Prod_name_ID', 'Town_ID'], ['mean']), ('SPnSt0_mean', ['Prod_name_ID', 'State_ID'], ['mean']), ('SPn0_mean', ['Prod_name_ID'], ['mean'])], 'lag': 2, 'targetVariable': 'Lag2', 'deleteColumns': True}

In [29]:
FE.AddConfigurableFeaturesToTrain(configLag0Target1DeleteColumnsFalse)

SPClRACh0_mean is not in columns..

                                                     SPClRACh0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
41          146030     3303     2281       7               4.069195
            681747     3306     2281       7               7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,NaN,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,NaN,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClRACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,NaN,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClRACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,NaN,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN,NaN

Count of missing numbers after SPClRACh0_mean in validation part 1 in column Lag2 is 633506
Count of missing numbers after SPClRACh0_mean in validation part 2 in column Lag2 is 838974
SPClRA0_mean is not in columns..

                                            SPClRA0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID
41          146030     3303     2281            4.069195
            681747     3306     2281            7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClRA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClRA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN,NaN

Count of missing numbers after SPClRA0_mean in validation part 1 in column Lag2 is 633320
Count of missing numbers after SPClRA0_mean in validation part 2 in column Lag2 is 838754
SPClRCh0_mean is not in columns..

                                          SPClRCh0_mean
Producto_ID Cliente_ID Ruta_SAK Canal_ID
41          146030     3303     7              4.069195
            681747     3306     7              7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClRCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClRCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN,NaN

Count of missing numbers after SPClRCh0_mean in validation part 1 in column Lag2 is 633214
Count of missing numbers after SPClRCh0_mean in validation part 2 in column Lag2 is 838568
SPClACh0_mean is not in columns..

                                            SPClACh0_mean
Producto_ID Cliente_ID Agencia_ID Canal_ID
41          146030     2281       7              4.069195
            681747     2281       7              7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN,NaN

Count of missing numbers after SPClACh0_mean in validation part 1 in column Lag2 is 602311
Count of missing numbers after SPClACh0_mean in validation part 2 in column Lag2 is 791317
SPClR0_mean is not in columns..

                                 SPClR0_mean
Producto_ID Cliente_ID Ruta_SAK
41          146030     3303         4.069195
            681747     3306         7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN,NaN

Count of missing numbers after SPClR0_mean in validation part 1 in column Lag2 is 602311
Count of missing numbers after SPClR0_mean in validation part 2 in column Lag2 is 791317
SPClA0_mean is not in columns..

                                   SPClA0_mean
Producto_ID Cliente_ID Agencia_ID
41          146030     2281           4.069195
            681747     2281           7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN,NaN

Count of missing numbers after SPClA0_mean in validation part 1 in column Lag2 is 601641
Count of missing numbers after SPClA0_mean in validation part 2 in column Lag2 is 790356
SPClCh0_mean is not in columns..

                                 SPClCh0_mean
Producto_ID Cliente_ID Canal_ID
41          146030     7             4.069195
            681747     7             7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN,NaN

Count of missing numbers after SPClCh0_mean in validation part 1 in column Lag2 is 601373
Count of missing numbers after SPClCh0_mean in validation part 2 in column Lag2 is 789928
SPCl0_mean is not in columns..

                        SPCl0_mean
Producto_ID Cliente_ID
41          146030        4.069195
            681747        7.317818

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPCl0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPCl0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN,NaN

Count of missing numbers after SPCl0_mean in validation part 1 in column Lag2 is 601227
Count of missing numbers after SPCl0_mean in validation part 2 in column Lag2 is 789730
SPR0_mean is not in columns..

                      SPR0_mean
Producto_ID Ruta_SAK
41          3201       3.069398
            3301       4.890607

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.567818
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.692333

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.361673
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,NaN,1.897133

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.630124
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,NaN,1.035384

Count of missing numbers after SPR0_mean in validation part 1 in column Lag2 is 61723
Count of missing numbers after SPR0_mean in validation part 2 in column Lag2 is 100443
SPA0_mean is not in columns..

                        SPA0_mean
Producto_ID Agencia_ID
41          1958         3.157450
            2278         4.890607

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.594994
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.439462

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,2.056763

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.917541
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.045136

Count of missing numbers after SPA0_mean in validation part 1 in column Lag2 is 56964
Count of missing numbers after SPA0_mean in validation part 2 in column Lag2 is 94002
SPCh0_mean is not in columns..

                      SPCh0_mean
Producto_ID Canal_ID
41          7           4.823784
53          4           4.118901

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.529205
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.538908

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.430278
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,2.076531

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,2.076531
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.222075

Count of missing numbers after SPCh0_mean in validation part 1 in column Lag2 is 1900
Count of missing numbers after SPCh0_mean in validation part 2 in column Lag2 is 23999
SPT0_mean is not in columns..

                     SPT0_mean
Producto_ID Town_ID
41          2288      3.157450
            2381      5.583857

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.727410
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.565591

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPT0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,2.056763

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPT0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,2.002497
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.093148

Count of missing numbers after SPT0_mean in validation part 1 in column Lag2 is 1891
Count of missing numbers after SPT0_mean in validation part 2 in column Lag2 is 23981
SPSt0_mean is not in columns..

                      SPSt0_mean
Producto_ID State_ID
41          22          4.995367
            25          3.157450

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.408791
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.283250

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPSt0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.425756
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,2.095363

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPSt0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,2.044083
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.123500

Count of missing numbers after SPSt0_mean in validation part 1 in column Lag2 is 1868
Count of missing numbers after SPSt0_mean in validation part 2 in column Lag2 is 23955
SP0_mean is not in columns..

             SP0_mean
Producto_ID
41           4.823784
53           4.118901

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SP0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.189326
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.214402

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SP0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.453327
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,2.090893

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SP0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,2.090893
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.260052

Count of missing numbers after SP0_mean in validation part 1 in column Lag2 is 1809
Count of missing numbers after SP0_mean in validation part 2 in column Lag2 is 23849
SPnClRACh0_mean is not in columns..

                                                      SPnClRACh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
0            60         7238     2061       2                4.956561
             65         7250     2061       2                4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClRACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClRACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN

Count of missing numbers after SPnClRACh0_mean in validation part 1 in column Lag2 is 1658
Count of missing numbers after SPnClRACh0_mean in validation part 2 in column Lag2 is 23415
SPnClRA0_mean is not in columns..

                                             SPnClRA0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID
0            60         7238     2061             4.956561
             65         7250     2061             4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClRA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClRA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN

Count of missing numbers after SPnClRA0_mean in validation part 1 in column Lag2 is 1658
Count of missing numbers after SPnClRA0_mean in validation part 2 in column Lag2 is 23415
SPnClRCh0_mean is not in columns..

                                           SPnClRCh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Canal_ID
0            60         7238     2               4.956561
             65         7250     2               4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClRCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClRCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN

Count of missing numbers after SPnClRCh0_mean in validation part 1 in column Lag2 is 1657
Count of missing numbers after SPnClRCh0_mean in validation part 2 in column Lag2 is 23415
SPnClACh0_mean is not in columns..

                                             SPnClACh0_mean
Prod_name_ID Cliente_ID Agencia_ID Canal_ID
0            60         2061       2               4.956561
             65         2061       2               4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN

Count of missing numbers after SPnClACh0_mean in validation part 1 in column Lag2 is 1657
Count of missing numbers after SPnClACh0_mean in validation part 2 in column Lag2 is 23414
SPnClR0_mean is not in columns..

                                  SPnClR0_mean
Prod_name_ID Cliente_ID Ruta_SAK
0            60         7238          4.956561
             65         7250          4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN

Count of missing numbers after SPnClR0_mean in validation part 1 in column Lag2 is 1657
Count of missing numbers after SPnClR0_mean in validation part 2 in column Lag2 is 23414
SPnClA0_mean is not in columns..

                                    SPnClA0_mean
Prod_name_ID Cliente_ID Agencia_ID
0            60         2061            4.956561
             65         2061            4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN

Count of missing numbers after SPnClA0_mean in validation part 1 in column Lag2 is 1657
Count of missing numbers after SPnClA0_mean in validation part 2 in column Lag2 is 23414
SPnClCh0_mean is not in columns..

                                  SPnClCh0_mean
Prod_name_ID Cliente_ID Canal_ID
0            60         2              4.956561
             65         2              4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN

Count of missing numbers after SPnClCh0_mean in validation part 1 in column Lag2 is 1657
Count of missing numbers after SPnClCh0_mean in validation part 2 in column Lag2 is 23414
SPnCl0_mean is not in columns..

                         SPnCl0_mean
Prod_name_ID Cliente_ID
0            60             4.956561
             65             4.071269

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnCl0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnCl0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.700599
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN

Count of missing numbers after SPnCl0_mean in validation part 1 in column Lag2 is 1657
Count of missing numbers after SPnCl0_mean in validation part 2 in column Lag2 is 23414
SPnR0_mean is not in columns..

                       SPnR0_mean
Prod_name_ID Ruta_SAK
0            1           4.026461
             2           3.944476

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.560787
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.717164

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.363776
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.886914

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.512888
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.028559

Count of missing numbers after SPnR0_mean in validation part 1 in column Lag2 is 1608
Count of missing numbers after SPnR0_mean in validation part 2 in column Lag2 is 21736
SPnA0_mean is not in columns..

                         SPnA0_mean
Prod_name_ID Agencia_ID
0            1110          1.851679
             1114          3.632199

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.608059
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.451677

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,2.031578

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.893845
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.045136

Count of missing numbers after SPnA0_mean in validation part 1 in column Lag2 is 1608
Count of missing numbers after SPnA0_mean in validation part 2 in column Lag2 is 21735
SPnCh0_mean is not in columns..

                       SPnCh0_mean
Prod_name_ID Canal_ID
0            1            2.098411
             2            3.269872

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.512192
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.539623

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.438992
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,2.061279

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,2.061279
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.214690

Count of missing numbers after SPnCh0_mean in validation part 1 in column Lag2 is 1215
Count of missing numbers after SPnCh0_mean in validation part 2 in column Lag2 is 17826
SPnT0_mean is not in columns..

                      SPnT0_mean
Prod_name_ID Town_ID
0            2008       1.851679
             2011       3.484314

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.617439
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.530108

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnT0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.534081
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,2.067881

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnT0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.993003
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.093148

Count of missing numbers after SPnT0_mean in validation part 1 in column Lag2 is 1215
Count of missing numbers after SPnT0_mean in validation part 2 in column Lag2 is 17826
SPnSt0_mean is not in columns..

                       SPnSt0_mean
Prod_name_ID State_ID
0            0            3.356161
             1            2.575719

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.343855
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.229944

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnSt0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.425756
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,2.136643

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnSt0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,2.077371
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.123500

Count of missing numbers after SPnSt0_mean in validation part 1 in column Lag2 is 1215
Count of missing numbers after SPnSt0_mean in validation part 2 in column Lag2 is 17826
SPn0_mean is not in columns..

              SPn0_mean
Prod_name_ID
0              3.049421
1              3.842135

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPn0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.177229
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.227086

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPn0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.468063
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,2.109973

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPn0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,2.109973
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.257738

Count of missing numbers after SPn0_mean in validation part 1 in column Lag2 is 1215
Count of missing numbers after SPn0_mean in validation part 2 in column Lag2 is 17824

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.418015,1.418015,1.418015
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384

In [30]:
FE.train.fillna(value=0, inplace=True)
FE.test1.fillna(value=0, inplace=True)
FE.test2.fillna(value=0, inplace=True)

In [31]:
FE.SaveDataFrameToHdf('both')

In [32]:
configLag0Target1DeleteColumnsFalse = ConfigElements(3,[ ("SPClRACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClRA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPClRCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClR0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPClA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPClCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPCl0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPR0_mean",[
                                                              "Producto_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPA0_mean",[
                                                              "Producto_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPCh0_mean",[
                                                              "Producto_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPT0_mean",[
                                                              "Producto_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPSt0_mean",[
                                                              "Producto_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SP0_mean",[
                                                              "Producto_ID"],
                                                          ["mean"]),
                                                      ("SPnClRACh0_mean",[  ##PRODNAMES START
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClRA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPnClRCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClACh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClR0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPnClA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnClCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnCl0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPnR0_mean",[
                                                              "Prod_name_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPnA0_mean",[
                                                              "Prod_name_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnT0_mean",[
                                                              "Prod_name_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPnSt0_mean",[
                                                              "Prod_name_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SPn0_mean",[
                                                              "Prod_name_ID"],
                                                          ["mean"])

                                                       
                                                       ], "Lag3", True)
print  configLag0Target1DeleteColumnsFalse.__dict__

{'nameAndGroups': [('SPClRACh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClRA0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPClRCh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPClACh0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClR0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPClA0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPClCh0_mean', ['Producto_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPCl0_mean', ['Producto_ID', 'Cliente_ID'], ['mean']), ('SPR0_mean', ['Producto_ID', 'Ruta_SAK'], ['mean']), ('SPA0_mean', ['Producto_ID', 'Agencia_ID'], ['mean']), ('SPCh0_mean', ['Producto_ID', 'Canal_ID'], ['mean']), ('SPT0_mean', ['Producto_ID', 'Town_ID'], ['mean']), ('SPSt0_mean', ['Producto_ID', 'State_ID'], ['mean']), ('SP0_mean', ['Producto_ID'], ['mean']), ('SPnClRACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClRA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPnClRCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPnClACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClR0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPnClA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPnClCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPnCl0_mean', ['Prod_name_ID', 'Cliente_ID'], ['mean']), ('SPnR0_mean', ['Prod_name_ID', 'Ruta_SAK'], ['mean']), ('SPnA0_mean', ['Prod_name_ID', 'Agencia_ID'], ['mean']), ('SPnCh0_mean', ['Prod_name_ID', 'Canal_ID'], ['mean']), ('SPnT0_mean', ['Prod_name_ID', 'Town_ID'], ['mean']), ('SPnSt0_mean', ['Prod_name_ID', 'State_ID'], ['mean']), ('SPn0_mean', ['Prod_name_ID'], ['mean'])], 'lag': 3, 'targetVariable': 'Lag3', 'deleteColumns': True}

In [33]:
FE.AddConfigurableFeaturesToTrain(configLag0Target1DeleteColumnsFalse)

/home/cankoklu/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

SPClRACh0_mean is not in columns..

                                                     SPClRACh0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
41          146030     3303     2281       7               4.029042
            681747     3306     2281       7               7.332602

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,NaN,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,NaN,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClRACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,NaN,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClRACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,NaN,NaN
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN,NaN

Count of missing numbers after SPClRACh0_mean in validation part 1 in column Lag3 is 910529
Count of missing numbers after SPClRACh0_mean in validation part 2 in column Lag3 is 995902
SPClRA0_mean is not in columns..

                                            SPClRA0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID
41          146030     3303     2281            4.029042
            681747     3306     2281            7.332602

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClRA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClRA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,NaN,NaN
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN,NaN

Count of missing numbers after SPClRA0_mean in validation part 1 in column Lag3 is 910286
Count of missing numbers after SPClRA0_mean in validation part 2 in column Lag3 is 995632
SPClRCh0_mean is not in columns..

                                          SPClRCh0_mean
Producto_ID Cliente_ID Ruta_SAK Canal_ID
41          146030     3303     7              4.029042
            681747     3306     7              7.332602

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClRCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClRCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,NaN,NaN
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN,NaN

Count of missing numbers after SPClRCh0_mean in validation part 1 in column Lag3 is 910121
Count of missing numbers after SPClRCh0_mean in validation part 2 in column Lag3 is 995403
SPClACh0_mean is not in columns..

                                            SPClACh0_mean
Producto_ID Cliente_ID Agencia_ID Canal_ID
41          146030     2281       7              4.029042
            681747     2281       7              7.332602

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,NaN,NaN
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN,NaN

Count of missing numbers after SPClACh0_mean in validation part 1 in column Lag3 is 860044
Count of missing numbers after SPClACh0_mean in validation part 2 in column Lag3 is 935642
SPClR0_mean is not in columns..

                                 SPClR0_mean
Producto_ID Cliente_ID Ruta_SAK
41          146030     3303         4.029042
            681747     3306         7.332602

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,NaN,NaN
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN,NaN

Count of missing numbers after SPClR0_mean in validation part 1 in column Lag3 is 860044
Count of missing numbers after SPClR0_mean in validation part 2 in column Lag3 is 935642
SPClA0_mean is not in columns..

                                   SPClA0_mean
Producto_ID Cliente_ID Agencia_ID
41          146030     2281           4.029042
            681747     2281           7.332602

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,NaN,NaN
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN,NaN

Count of missing numbers after SPClA0_mean in validation part 1 in column Lag3 is 858113
Count of missing numbers after SPClA0_mean in validation part 2 in column Lag3 is 933685
SPClCh0_mean is not in columns..

                                 SPClCh0_mean
Producto_ID Cliente_ID Canal_ID
41          146030     7             4.029042
            681747     7             7.332602

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,NaN,NaN
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN,NaN

Count of missing numbers after SPClCh0_mean in validation part 1 in column Lag3 is 857672
Count of missing numbers after SPClCh0_mean in validation part 2 in column Lag3 is 933167
SPCl0_mean is not in columns..

                        SPCl0_mean
Producto_ID Cliente_ID
41          146030        4.029042
            681747        7.332602

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPCl0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,NaN,NaN

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPCl0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,NaN,NaN
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN,NaN

Count of missing numbers after SPCl0_mean in validation part 1 in column Lag3 is 857432
Count of missing numbers after SPCl0_mean in validation part 2 in column Lag3 is 932899
SPR0_mean is not in columns..

                      SPR0_mean
Producto_ID Ruta_SAK
41          3201       3.004980
            3301       4.950966

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.573066
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.679302

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.376955
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,NaN,1.917298

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,NaN,1.665441
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,NaN,1.037599

Count of missing numbers after SPR0_mean in validation part 1 in column Lag3 is 87447
Count of missing numbers after SPR0_mean in validation part 2 in column Lag3 is 128000
SPA0_mean is not in columns..

                        SPA0_mean
Producto_ID Agencia_ID
41          1958         3.347339
            2278         4.950966

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.598391
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.437440

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.545280
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,2.034985

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.906777
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.048081

Count of missing numbers after SPA0_mean in validation part 1 in column Lag3 is 80005
Count of missing numbers after SPA0_mean in validation part 2 in column Lag3 is 119213
SPCh0_mean is not in columns..

                      SPCh0_mean
Producto_ID Canal_ID
41          7           4.822031
53          4           4.350634

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.529428
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.541975

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.432073
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,2.086690

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,2.086690
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.225263

Count of missing numbers after SPCh0_mean in validation part 1 in column Lag3 is 57322
Count of missing numbers after SPCh0_mean in validation part 2 in column Lag3 is 83714
SPT0_mean is not in columns..

                     SPT0_mean
Producto_ID Town_ID
41          2288      3.347339
            2381      5.611447

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.735011
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.563062

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPT0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.545280
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,2.034985

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPT0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.975586
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.096023

Count of missing numbers after SPT0_mean in validation part 1 in column Lag3 is 57295
Count of missing numbers after SPT0_mean in validation part 2 in column Lag3 is 83669
SPSt0_mean is not in columns..

                      SPSt0_mean
Producto_ID State_ID
41          22          4.959830
            25          3.347339

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.412396
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.284876

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPSt0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.425046
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,2.096872

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPSt0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,2.015032
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.124979

Count of missing numbers after SPSt0_mean in validation part 1 in column Lag3 is 57251
Count of missing numbers after SPSt0_mean in validation part 2 in column Lag3 is 83614
SP0_mean is not in columns..

             SP0_mean
Producto_ID
41           4.822031
53           4.350634

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SP0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.191637
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.218501

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SP0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.453773
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,2.094094

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SP0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,2.094094
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.263224

Count of missing numbers after SP0_mean in validation part 1 in column Lag3 is 57174
Count of missing numbers after SP0_mean in validation part 2 in column Lag3 is 83514
SPnClRACh0_mean is not in columns..

                                                      SPnClRACh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
0            60         7238     2061       2                4.946441
             65         7250     2061       2                4.101177

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClRACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClRACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.791759
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,NaN

Count of missing numbers after SPnClRACh0_mean in validation part 1 in column Lag3 is 49487
Count of missing numbers after SPnClRACh0_mean in validation part 2 in column Lag3 is 76357
SPnClRA0_mean is not in columns..

                                             SPnClRA0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID
0            60         7238     2061             4.946441
             65         7250     2061             4.101177

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClRA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClRA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.791759
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,NaN

Count of missing numbers after SPnClRA0_mean in validation part 1 in column Lag3 is 49487
Count of missing numbers after SPnClRA0_mean in validation part 2 in column Lag3 is 76357
SPnClRCh0_mean is not in columns..

                                           SPnClRCh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Canal_ID
0            60         7238     2               4.946441
             65         7250     2               4.101177

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClRCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClRCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.791759
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,NaN

Count of missing numbers after SPnClRCh0_mean in validation part 1 in column Lag3 is 49486
Count of missing numbers after SPnClRCh0_mean in validation part 2 in column Lag3 is 76357
SPnClACh0_mean is not in columns..

                                             SPnClACh0_mean
Prod_name_ID Cliente_ID Agencia_ID Canal_ID
0            60         2061       2               4.946441
             65         2061       2               4.101177

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClACh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClACh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.791759
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,NaN

Count of missing numbers after SPnClACh0_mean in validation part 1 in column Lag3 is 49394
Count of missing numbers after SPnClACh0_mean in validation part 2 in column Lag3 is 76256
SPnClR0_mean is not in columns..

                                  SPnClR0_mean
Prod_name_ID Cliente_ID Ruta_SAK
0            60         7238          4.946441
             65         7250          4.101177

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.791759
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,NaN

Count of missing numbers after SPnClR0_mean in validation part 1 in column Lag3 is 49394
Count of missing numbers after SPnClR0_mean in validation part 2 in column Lag3 is 76256
SPnClA0_mean is not in columns..

                                    SPnClA0_mean
Prod_name_ID Cliente_ID Agencia_ID
0            60         2061            4.946441
             65         2061            4.101177

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.791759
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,NaN

Count of missing numbers after SPnClA0_mean in validation part 1 in column Lag3 is 49394
Count of missing numbers after SPnClA0_mean in validation part 2 in column Lag3 is 76256
SPnClCh0_mean is not in columns..

                                  SPnClCh0_mean
Prod_name_ID Cliente_ID Canal_ID
0            60         2              4.946441
             65         2              4.101177

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.791759
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,NaN

Count of missing numbers after SPnClCh0_mean in validation part 1 in column Lag3 is 49394
Count of missing numbers after SPnClCh0_mean in validation part 2 in column Lag3 is 76255
SPnCl0_mean is not in columns..

                         SPnCl0_mean
Prod_name_ID Cliente_ID
0            60             4.946441
             65             4.101177

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnCl0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,1.589027

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnCl0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.791759
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,NaN

Count of missing numbers after SPnCl0_mean in validation part 1 in column Lag3 is 49394
Count of missing numbers after SPnCl0_mean in validation part 2 in column Lag3 is 76255
SPnR0_mean is not in columns..

                       SPnR0_mean
Prod_name_ID Ruta_SAK
0            1           4.013812
             2           3.962570

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.559937
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.704719

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnR0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.377925
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,1.892808

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnR0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.492168
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.030261

Count of missing numbers after SPnR0_mean in validation part 1 in column Lag3 is 47633
Count of missing numbers after SPnR0_mean in validation part 2 in column Lag3 is 72803
SPnA0_mean is not in columns..

                         SPnA0_mean
Prod_name_ID Agencia_ID
0            1110          1.832698
             1114          3.635015

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.611510
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.449275

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnA0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.545280
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,2.019406

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnA0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.887341
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.048081

Count of missing numbers after SPnA0_mean in validation part 1 in column Lag3 is 47633
Count of missing numbers after SPnA0_mean in validation part 2 in column Lag3 is 72802
SPnCh0_mean is not in columns..

                       SPnCh0_mean
Prod_name_ID Canal_ID
0            1            2.093252
             2            3.275352

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.510634
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.541171

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnCh0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.441367
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,2.060930

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnCh0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,2.060930
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.218252

Count of missing numbers after SPnCh0_mean in validation part 1 in column Lag3 is 47405
Count of missing numbers after SPnCh0_mean in validation part 2 in column Lag3 is 69092
SPnT0_mean is not in columns..

                      SPnT0_mean
Prod_name_ID Town_ID
0            2008       1.832698
             2011       3.505695

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.623185
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.526781

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnT0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.545280
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,2.054501

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnT0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,1.984323
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.096023

Count of missing numbers after SPnT0_mean in validation part 1 in column Lag3 is 47405
Count of missing numbers after SPnT0_mean in validation part 2 in column Lag3 is 69092
SPnSt0_mean is not in columns..

                       SPnSt0_mean
Prod_name_ID State_ID
0            0            3.344378
             1            2.578717

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.348608
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.231371

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnSt0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.425046
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,2.136755

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnSt0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,2.075825
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.124979

Count of missing numbers after SPnSt0_mean in validation part 1 in column Lag3 is 47405
Count of missing numbers after SPnSt0_mean in validation part 2 in column Lag3 is 69092
SPn0_mean is not in columns..

              SPn0_mean
Prod_name_ID
0              3.057935
1              3.814911

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPn0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232,1.180770
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644,1.231783

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPn0_mean
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612,1.468992
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298,2.109331

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPn0_mean
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441,2.109331
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599,1.261321

Count of missing numbers after SPn0_mean in validation part 1 in column Lag3 is 47405
Count of missing numbers after SPn0_mean in validation part 2 in column Lag3 is 69090

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.418015,1.418015,1.418015,1.599232
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.279644,1.279644,1.279644,1.279644

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3
0,2,10,2045,1,2831,4549769,32940,2163,14,110,10,678,23,1.098612,1.098612,1.098612,1.098612
1,7,10,1612,1,2837,4414012,35305,2352,30,75,0,45,23,1.897133,1.897133,1.897133,1.917298

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3
0,0,11,4037,1,2209,4639078,35305,2499,28,75,0,45,23,1.609438,1.609438,1.665441
1,1,11,2237,1,1226,4705135,1238,2402,4,140,2,630,4,1.035384,1.035384,1.037599

In [34]:
FE.train.fillna(value=0, inplace=True)
FE.test1.fillna(value=0, inplace=True)
FE.test2.fillna(value=0, inplace=True)

In [35]:
FE.SaveDataFrameToHdf('both')

In [36]:
print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag0))
#print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag0))
#print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag0))


print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag1))
#print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag1))
#print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag1))


print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag2))
#print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag2))
#print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag2))


print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag3))
#print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag3))
#print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag3))

('RMSLE Score:', 0.30244135602997674)
('RMSLE Score:', 0.30244135602997674)
('RMSLE Score:', 0.30244135602997674)
('RMSLE Score:', 0.32334618842645518)