In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)

import gc

In [2]:
products_encoded = pd.read_csv('../input/products_encoded_10_words.csv')

In [3]:
train_alld = pd.read_csv('../input/train_alld_totals.csv')
train_alld = pd.merge(train_alld, products_encoded, on='Producto_ID', how='left')
#train_alld = train_alld.join(products_encoded, on='Producto_ID', lsuffix='_t')

In [4]:
train_alld.head()

,Demanda_uni_equil,d1,d2,d3,d4,d5,d6,Cliente_ID,Producto_ID_t,p_total_demand,...,canelit,delici chochit,delici vainill,gansit,medi noch,pan blanc,pan integral,pinguin,tortillin,wond
0,1,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,100000,43274,1639486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.0,-999.0,-999.0,-999.0,-999.0,-999.0,100000,43274,1639486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2.0,1.0,-999.0,-999.0,-999.0,-999.0,100000,43274,1639486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,0.0,0.0,2.0,2.0,1.0,-999.0,100000,43274,1639486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,0.0,0.0,-999.0,-999.0,-999.0,-999.0,100000,30572,7229285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
train_alld.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74013023 entries, 0 to 74013022
Data columns (total 25 columns):
Demanda_uni_equil    int64
d1                   float64
d2                   float64
d3                   float64
d4                   float64
d5                   float64
d6                   float64
Cliente_ID           int64
Producto_ID_t        int64
p_total_demand       int64
total_demand         int64
Unnamed: 0           float64
Producto_ID          float64
weight               float64
pieces               float64
canelit              float64
delici chochit       float64
delici vainill       float64
gansit               float64
medi noch            float64
pan blanc            float64
pan integral         float64
pinguin              float64
tortillin            float64
wond                 float64
dtypes: float64(20), int64(5)
memory usage: 13.8 GB

In [ ]:
train_alld = train_alld.drop(['Producto_ID'],axis = 1)

In [ ]:
train_alld.to_csv('../input/train_alld_prodnames10.csv', index=False)

In [ ]:
del train_alld
gc.collect()

In [3]:
test_alld = pd.read_csv('../input/test_alld_totals.csv')
test_alld = pd.merge(test_alld, products_encoded, on='Producto_ID', how='left')
#test_alld = test_alld.join(products_encoded, on='Producto_ID', lsuffix='_t')
test_alld = test_alld.drop(['Producto_ID'],axis = 1)
test_alld.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6943675 entries, 0 to 6943674
Data columns (total 24 columns):
Cliente_ID        int64
Producto_ID_t     int64
d1                float64
d2                float64
d3                float64
d4                float64
d5                float64
d6                float64
id                int64
p_total_demand    int64
total_demand      int64
Unnamed: 0        float64
weight            float64
pieces            float64
canelit           float64
delici chochit    float64
delici vainill    float64
gansit            float64
medi noch         float64
pan blanc         float64
pan integral      float64
pinguin           float64
tortillin         float64
wond              float64
dtypes: float64(19), int64(5)
memory usage: 1.2 GB

In [13]:
#test_alld = test_alld.drop(['Unnamed: 0'],axis = 1)
test_alld.to_csv('../input/test_alld_prodnames10.csv', index=False)