In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import datasets, linear_model,preprocessing
from datetime import datetime
import gc
%matplotlib inline
from IPython.display import display, HTML
from pprint import pprint
import time
import nltk.corpus
from nltk.stem.snowball import SnowballStemmer
from ml_metrics import rmse,rmsle

In [2]:
#take 1 CSV, then split it to 3..
class FeatureEngineering:

    def __init__(self, ValidationStart, ValidationEnd, trainHdfPath, trainHdfFile, testHdfPath1, testHdfPath2, testHdfFile, 
                 testTypes, trainTypes, trainCsvPath, testCsvPath, maxLag=0):
        self.ValidationStart = ValidationStart
        self.ValidationEnd = ValidationEnd
        self.maxLag = maxLag
        self.trainHdfPath = trainHdfPath
        self.trainHdfFile = trainHdfFile
        self.testHdfPath1 = testHdfPath1
        self.testHdfPath2 = testHdfPath2
        self.testHdfFile = testHdfFile
        self.testTypes = testTypes
        self.trainTypes = trainTypes
        self.trainCsvPath = trainCsvPath
        self.testCsvPath = testCsvPath
        
    @staticmethod
    def __printDataFrameBasics__(data):
        display(data.head(2))
        #print data.dtypes
        gc.collect()
        print(data.info(memory_usage=True))
        
    @staticmethod    
    def changeIndexTypeToLowerMemory(data):
        ##########
        #This is very critical, i accept max number is 2^32. Also, if don't do that, memory gets so much higher..
        ##########
        #data.reset_index(inplace=True)
        #data.drop("index",axis=1, inplace=True)
        #data.index = data.index.astype('uint32')
        gc.collect()
        
    def ReadHdf(self, trainOrTestOrBoth):
        '''Reads and holds Df in object memory'''            
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train = pd.read_hdf(self.trainHdfPath,self.trainHdfFile)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.train)
            FeatureEngineering.__printDataFrameBasics__(self.train)
            
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            self.test1 = pd.read_hdf(self.testHdfPath1,self.testHdfFile)
            self.test2 = pd.read_hdf(self.testHdfPath2,self.testHdfFile)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test1)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test2)
            FeatureEngineering.__printDataFrameBasics__(self.test1)
            FeatureEngineering.__printDataFrameBasics__(self.test2)
        
    def ReadCsv(self, trainOrTestOrBoth):
        '''Reads and holds Df in memory'''
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth == 'both':
            self.train = pd.read_csv(self.trainCsvPath, usecols=self.trainTypes.keys(), dtype=self.trainTypes)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.train)
            FeatureEngineering.__printDataFrameBasics__(self.train)
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            tempTest = pd.read_csv(self.testCsvPath, usecols=self.testTypes.keys(), dtype=self.testTypes)
            self.test1 = tempTest.loc[tempTest.Semana.values == self.ValidationStart]
            self.test2 = tempTest.loc[tempTest.Semana.values == self.ValidationEnd]
            del tempTest
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test1)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test2)
            FeatureEngineering.__printDataFrameBasics__(self.test1)
            FeatureEngineering.__printDataFrameBasics__(self.test2)
            
    @staticmethod
    def ConvertCsvToHdf(csvPath, HdfPath, HdfName, ColumnTypeDict ):
        tempDf = pd.read_csv(csvPath, usecols=ColumnTypeDict.keys(), dtype=ColumnTypeDict,index=False)
        tempDf.to_hdf(HdfPath, HdfName, format='t')
        del tempDf
        gc.collect()
        print "ConvertCsvToHdf is done.."

    def Preprocess(self, trainOrTestOrBoth, columnFunctionTypeList):
        '''columnFunctionTypeList = [ ['C1',Func1,Type], ['C2',Func2,Type],..    ]'''
        for column, func, localType in columnFunctionTypeList:
            if trainOrTestOrBoth == 'train' or trainOrTestOrBoth =='both':
                self.train.loc[:,column] =  np.apply_along_axis(func,0,FE.train[column].values).astype(localType)
                #np.apply_along_axis(lambda x: x+1,0,FE.train["Semana"]).astype("int32")
            if trainOrTestOrBoth == 'test' or trainOrTestOrBoth == 'both':
                self.test1.loc[:,column] =  np.apply_along_axis(func,0,FE.test1[column].values).astype(localType)
                self.test2.loc[:,column] =  np.apply_along_axis(func,0,FE.test2[column].values).astype(localType)
        gc.collect()
        
    def SaveDataFrameToHdf(self,trainOrTestOrBoth):
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train.to_hdf(self.trainHdfPath, self.trainHdfFile, format='t', index="False")
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            self.test1.to_hdf(self.testHdfPath1, self.testHdfFile, format='t', index="False")
            self.test2.to_hdf(self.testHdfPath2, self.testHdfFile, format='t', index="False")
        
    def AddDemandaGeneralMean(self,trainOrTestOrBoth): 
        #self.train.loc[:,"DemandaGeneralMean"] = self.train["Demanda_uni_equil"].loc[
         #   self.train.loc[:,'Semana'] < 10].mean().astype("float32")
            
        meanOfDemanda = self.train["Demanda_uni_equil"].values.mean().astype("float32")
        
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train.loc[:,"DemandaGeneralMean"] = meanOfDemanda
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            self.test1.loc[:,"DemandaGeneralMean"] = meanOfDemanda
            self.test2.loc[:,"DemandaGeneralMean"] = meanOfDemanda
        
        #self.train.loc[:,"DemandaGeneralMean"] = self.train["Demanda_uni_equil"].values[
        #(self.train.loc[:,'Semana'].values < self.ValidationStart).values].mean().astype("float32")
        gc.collect()
        
    '''ConfigElements(0,[ ("A",["Semana","Agencia_ID"],["count","count"]),'''
    def AddConfigurableFeaturesToTrain(self, config):
        if config.lag > self.maxLag:
            self.maxLag = config.lag
        
        tempData = self.train[self.train['Semana'].values <= (self.ValidationEnd - config.lag)]
        #display(tempData)
        if(config.lag != 0):
            tempData.loc[:,'Semana'] = tempData['Semana'].values + config.lag
        #display(tempData)
        
        #Means iterative.. eliminate as long as np.nan exists..If there is already one, don't create, use the existing
        if config.targetVariable != "" and  config.targetVariable not in self.train.columns:
            self.train.loc[:,config.targetVariable] = np.nan
            self.test1.loc[:,config.targetVariable] = np.nan
            
            if config.lag != 1:
                self.test2.loc[:,config.targetVariable] = np.nan
        
        for name,groups,aggregate in config.nameAndGroups:
            if name not in self.train.columns:
                print "{} is not in columns..".format(name)            
                
                groupedDataframe = tempData[groups+['Demanda_uni_equil']].copy().groupby(groups).agg(aggregate[0])
                gc.collect()
                #groupedDataframe.columns = groupedDataframe.columns.droplevel(0)
                groupedDataframe.columns = [name]
                
                #This is means of the counts of the semana-columns tuples!..!!!
                #If no lag and mean, mean of the columns without semana!!..
                #If there is lag and count, count of the columns x weeks before
                #If there is lag and mean, mean of the columns x weeks before
                #if(config.lag == 0 and aggregate == "count"):
                if(len(aggregate)>1):
                    groupedDataframe.reset_index(inplace=True)
                    groupedDataframe.drop("Semana",axis=1, inplace=True)
                    groups = groups[1:]
                    groupedDataframe = groupedDataframe.groupby(groups).agg(aggregate[1])
                    groupedDataframe.columns = [name]
                    gc.collect()
                
                display(groupedDataframe.head(2))
                self.train = self.train.merge( groupedDataframe, left_on=groups,
                    right_index=True, how='left', sort=False,copy=False)
                gc.collect()
                self.test1 = self.test1.merge( groupedDataframe, left_on=groups,
                    right_index=True, how='left', sort=False,copy=False)
                gc.collect()
                if config.lag != 1:
                    self.test2 = self.test2.merge( groupedDataframe, left_on=groups,
                        right_index=True, how='left', sort=False,copy=False)
                
                del groupedDataframe
                gc.collect()
            else:
                print "{} is in columns..".format(name)
            
            display(self.train.head(2))
            display(self.test1.head(2))
            display(self.test2.head(2))
            
            #Means iterative..!!!!!
            if config.targetVariable != "":
                self.train.loc[pd.isnull(self.train[config.targetVariable].values), 
                    config.targetVariable] = self.train.loc[pd.isnull(self.train[config.targetVariable].values)
                    , name].values
                self.test1.loc[pd.isnull(self.test1[config.targetVariable].values), 
                    config.targetVariable] = self.test1.loc[pd.isnull(self.test1[config.targetVariable].values),
                    name].values
                if config.lag != 1:
                    self.test2.loc[pd.isnull(self.test2[config.targetVariable].values), 
                        config.targetVariable] = self.test2.loc[pd.isnull(self.test2[config.targetVariable].values)
                        , name].values
                    
                count = self.test1[config.targetVariable].isnull().sum()
                print "Count of missing numbers after {} in validation part 1 in column {} is {}".format(name, 
                    config.targetVariable,str(count))
                if config.lag != 1:
                    count = self.test2.loc[:,config.targetVariable].isnull().sum()
                    print "Count of missing numbers after {} in validation part 2 in column {} is {}".format(name, 
                        config.targetVariable,str(count))
                
                
                #display(self.train)
                #If column is already in Dataframe and we want to fill target variable, this deletes columns!!!
                if(config.deleteColumns):
                    self.train.drop(name, axis=1, inplace=True)
                    self.test1.drop(name, axis=1, inplace=True)
                    if config.lag != 1:
                        self.test2.drop(name, axis=1, inplace=True)
                gc.collect()
                #Only in tesst
                #if count == 0:
                 #   break
        del tempData
        display(self.train.head(2))
        display(self.test1.head(2))
        display(self.test2.head(2))
        gc.collect()
        return 
    
    def DeleteLaggedWeeksFromTrain(self):
        self.train = self.train[self.train['Semana'].values >= (3 + self.maxLag)]
        gc.collect()
        display(self.train.head(2))
        
    def ReadFirstNRowsOfACsv(self, nrows, trainOrTestOrBoth) :
        if trainOrTestOrBoth == 'train' or trainOrTestOrBoth=='both':
            self.train = pd.read_csv(self.trainCsvPath, usecols=self.trainTypes.keys(), dtype=self.trainTypes, nrows = nrows)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.train)
            FeatureEngineering.__printDataFrameBasics__(self.train)
        if trainOrTestOrBoth == 'test' or trainOrTestOrBoth=='both':
            tempTest = pd.read_csv(self.testCsvPath, usecols=self.testTypes.keys(), dtype=self.testTypes, nrows = nrows*2)
            self.test1 = tempTest.loc[tempTest.Semana == self.ValidationStart]
            self.test2 = tempTest.loc[tempTest.Semana == self.ValidationEnd]
            del tempTest
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test1)
            FeatureEngineering.changeIndexTypeToLowerMemory(self.test2)
            FeatureEngineering.__printDataFrameBasics__(self.test1)
            FeatureEngineering.__printDataFrameBasics__(self.test2)
    
    #Use when concatanating train and validation before predict test for example..
    def AppendTestToTrain(self,deleteTest = True):
        self.train = self.train.append(self.test1,ignore_index=True)
        gc.collect()
        if(deleteTest):
            del self.test1
            gc.collect()
        try:
            self.train = self.train.append(self.test2,ignore_index=True)
            gc.collect()
            if(deleteTest):
                del self.test2
                gc.collect()
        except:
            pass
        #BAD PERFORMANCE!!
    #Split train data to train and test1 and test2 (validation)
    #def SplitTrainToTestUsingValidationStart(self):
     #   boolCondition = self.train.Semana == self.ValidationStart
      #  self.test1 = self.train.loc[boolCondition]
       # self.train.drop((self.train.loc[boolCondition].index), axis=0,inplace=True)
        
       # boolCondition = self.train.Semana == self.ValidationEnd
       # self.test2 = self.train.loc[boolCondition]
       # self.train.drop((self.train.loc[boolCondition].index), axis=0,inplace=True)
      #  del boolCondition
      #  gc.collect()
    
    #Reaches 3x memory from train, because of test1, test2 and train itself at the end.. GC fixed in the end..
    def SplitTrainToTestUsingValidationStart(self):
        boolCondition = self.train.Semana.values == self.ValidationStart
        self.test1 = self.train[boolCondition]
        boolCondition = self.train.Semana.values == self.ValidationEnd
        self.test2 = self.train[boolCondition]
        FE.train = FE.train[ FE.train.Semana.values < FE.ValidationStart ]
        del boolCondition
        gc.collect()

In [3]:
class ConfigElements:
    def __init__(self, lag, nameAndGroups, targetVariable="", deleteColumns = False):
        self.lag = lag
        self.nameAndGroups = nameAndGroups
        #If there is target variable, then 5 4 3 2 1, fill the np.nans..Else hold them all in Dataframe..
        self.targetVariable = targetVariable
        self.deleteColumns = deleteColumns

In [4]:
parameterDict =       {"ValidationStart":8, 
 "ValidationEnd":9,
   "maxLag":3,
    "trainHdfPath":'../../input/train.h5',
    "trainHdfFile":"train",
    "testHdfPath1":"../../input/test1.h5",
    "testHdfPath2":"../../input/test2.h5",
    "testHdfFile":"test", 
    "trainTypes" : {'Semana':np.uint8, 'Agencia_ID':np.uint16, 'Canal_ID':np.uint8,'Ruta_SAK':np.uint16, 
        'Cliente_ID':np.uint32, 'Producto_ID':np.uint16,'Venta_uni_hoy':np.uint16, 'Venta_hoy':np.float32,
                    'Dev_uni_proxima': np.uint32, 'Dev_proxima':np.float32,'Demanda_uni_equil':np.uint32}, 
    "testTypes" : {'id':np.uint32,'Semana':np.uint8, 'Agencia_ID':np.uint16, 'Canal_ID':np.uint8,'Ruta_SAK':np.uint16,
        'Cliente_ID':np.uint32, 'Producto_ID':np.uint16},
    "trainCsvPath":'../../input/train.csv'   ,
    "testCsvPath":'../../input/test.csv'}

FE = FeatureEngineering(**parameterDict)
print FE.__dict__

{'trainCsvPath': '../../input/train.csv', 'maxLag': 3, 'testTypes': {'Cliente_ID': <type 'numpy.uint32'>, 'Ruta_SAK': <type 'numpy.uint16'>, 'Canal_ID': <type 'numpy.uint8'>, 'Producto_ID': <type 'numpy.uint16'>, 'Agencia_ID': <type 'numpy.uint16'>, 'Semana': <type 'numpy.uint8'>, 'id': <type 'numpy.uint32'>}, 'testHdfFile': 'test', 'trainTypes': {'Dev_proxima': <type 'numpy.float32'>, 'Venta_uni_hoy': <type 'numpy.uint16'>, 'Cliente_ID': <type 'numpy.uint32'>, 'Demanda_uni_equil': <type 'numpy.uint32'>, 'Ruta_SAK': <type 'numpy.uint16'>, 'Canal_ID': <type 'numpy.uint8'>, 'Venta_hoy': <type 'numpy.float32'>, 'Producto_ID': <type 'numpy.uint16'>, 'Agencia_ID': <type 'numpy.uint16'>, 'Dev_uni_proxima': <type 'numpy.uint32'>, 'Semana': <type 'numpy.uint8'>}, 'testHdfPath1': '../../input/test1.h5', 'ValidationEnd': 9, 'testHdfPath2': '../../input/test2.h5', 'testCsvPath': '../../input/test.csv', 'ValidationStart': 8, 'trainHdfFile': 'train', 'trainHdfPath': '../../input/train.h5'}

In [5]:
FE.ReadCsv('train')

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74180464 entries, 0 to 74180463
Data columns (total 11 columns):
Semana               uint8
Agencia_ID           uint16
Canal_ID             uint8
Ruta_SAK             uint16
Cliente_ID           uint32
Producto_ID          uint16
Venta_uni_hoy        uint16
Venta_hoy            float32
Dev_uni_proxima      uint32
Dev_proxima          float32
Demanda_uni_equil    uint32
dtypes: float32(2), uint16(4), uint32(3), uint8(2)
memory usage: 2.1 GB
None

## Merge town and products..

In [6]:
townstate = pd.read_csv("../../input/town_state.csv", encoding='utf-8')
townstate['Town_ID']=townstate['Town'].str[:4]
states = townstate['State']
le = preprocessing.LabelEncoder()
townstate['State_ID']=le.fit_transform(states)
townstate = townstate.drop(['Town', 'State'], axis=1)
townstate = townstate.astype('uint16')
townstate[['State_ID']] =townstate[['State_ID']] .astype('uint8')
FE.train = pd.merge(FE.train, townstate, on='Agencia_ID', how='left', sort=False,copy=False)
gc.collect()

141

In [7]:
products = pd.read_csv("../../input/producto_tabla.csv")
products['short_name'] = products.NombreProducto.str.extract('^(\D*)', expand=False)
products['brand'] = products.NombreProducto.str.extract('^.+\s(\D+) \d+$', expand=False)
w = products.NombreProducto.str.extract('(\d+)(Kg|g)', expand=True)
products['weight'] = w[0].astype('float') * w[1].map({'Kg': 1000, 'g': 1})
products['pieces'] = products.NombreProducto.str.extract('(\d+)p ', expand=False).astype('float')

products['short_name_processed'] = (products['short_name'].
                                    map(lambda x: " ".
                                        join([i for i in x.lower().split() 
                                              if i not in nltk.corpus.stopwords.words("spanish")])))
stemmer = SnowballStemmer("spanish")
products['short_name_processed'] = (products['short_name_processed'].
                                    map(lambda x: " ".join([stemmer.stem(i) for i in x.lower().split()])))

le = preprocessing.LabelEncoder()

products['Prod_name_ID']=le.fit_transform(products['short_name_processed'])
products['Brand_ID']=le.fit_transform(products['brand'])

products = products.drop(['short_name', 'brand', 'short_name_processed', 'NombreProducto'], axis=1)
products.fillna(value=0, inplace=True)
products[['pieces','Brand_ID']] = products[['pieces','Brand_ID']].astype('uint8')
products[['Producto_ID','weight', 'Prod_name_ID']] = products[['Producto_ID','weight', 'Prod_name_ID']].astype('uint16')
FE.train = pd.merge(FE.train, products, on='Producto_ID', how='left', sort=False,copy=False)
gc.collect()

84

## Check NA values here.

In [8]:
#FE.train[FE.train.isnull().any(axis=1)]

Empty DataFrame
Columns: [Semana, Agencia_ID, Canal_ID, Ruta_SAK, Cliente_ID, Producto_ID, Venta_uni_hoy, Venta_hoy, Dev_uni_proxima, Dev_proxima, Demanda_uni_equil, Town_ID, State_ID, weight, pieces, Prod_name_ID, Brand_ID]
Index: []

## Convert to Log..

In [9]:
FE.train.loc[:,"Demanda_uni_equil"] = np.log1p (FE.train["Demanda_uni_equil"].values)
gc.collect()

243

## Split Train to test1 test2

In [10]:
FE.SplitTrainToTestUsingValidationStart()

## Add DemandaNotEqualTheDifferenceOfVentaUniAndDev to model products delivered later..

In [11]:
FE.train.loc[:,"DemandaNotEqualTheDifferenceOfVentaUniAndDev"] = FE.train.Demanda_uni_equil.values < (
    FE.train.Venta_uni_hoy.values - FE.train.Dev_uni_proxima.values)
gc.collect()

0

## Delete Demanda = 0  and Venta = 0

In [12]:
FE.train = FE.train[(FE.train.Demanda_uni_equil.values != 0) & (FE.train.Venta_uni_hoy.values != 0)]
gc.collect()

33

In [13]:
FE.SaveDataFrameToHdf('both')

In [14]:
FE.ReadHdf('both')

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52449630 entries, 0 to 53364882
Data columns (total 18 columns):
Semana                                          uint8
Agencia_ID                                      uint16
Canal_ID                                        uint8
Ruta_SAK                                        uint16
Cliente_ID                                      uint32
Producto_ID                                     uint16
Venta_uni_hoy                                   uint16
Venta_hoy                                       float32
Dev_uni_proxima                                 uint32
Dev_proxima                                     float32
Demanda_uni_equil                               float64
Town_ID                                         uint16
State_ID                                        uint8
weight                                          uint16
pieces                                          uint8
Prod_name_ID                                    uint16
Brand_ID                                        uint8
DemandaNotEqualTheDifferenceOfVentaUniAndDev    bool
dtypes: bool(1), float32(2), float64(1), uint16(7), uint32(2), uint8(5)
memory usage: 2.5 GB
None

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10406868 entries, 53364883 to 63771750
Data columns (total 17 columns):
Semana               uint8
Agencia_ID           uint16
Canal_ID             uint8
Ruta_SAK             uint16
Cliente_ID           uint32
Producto_ID          uint16
Venta_uni_hoy        uint16
Venta_hoy            float32
Dev_uni_proxima      uint32
Dev_proxima          float32
Demanda_uni_equil    float64
Town_ID              uint16
State_ID             uint8
weight               uint16
pieces               uint8
Prod_name_ID         uint16
Brand_ID             uint8
dtypes: float32(2), float64(1), uint16(7), uint32(2), uint8(5)
memory usage: 506.2 MB
None

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10408713 entries, 63771751 to 74180463
Data columns (total 17 columns):
Semana               uint8
Agencia_ID           uint16
Canal_ID             uint8
Ruta_SAK             uint16
Cliente_ID           uint32
Producto_ID          uint16
Venta_uni_hoy        uint16
Venta_hoy            float32
Dev_uni_proxima      uint32
Dev_proxima          float32
Demanda_uni_equil    float64
Town_ID              uint16
State_ID             uint8
weight               uint16
pieces               uint8
Prod_name_ID         uint16
Brand_ID             uint8
dtypes: float32(2), float64(1), uint16(7), uint32(2), uint8(5)
memory usage: 506.3 MB
None

## Grouping for Lag0

In [15]:
configLag0Target1DeleteColumnsFalse = ConfigElements(0,[ ("SPClRACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClRA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPClRCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClR0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPClA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPClCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPCl0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPR0_mean",[
                                                              "Producto_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPA0_mean",[
                                                              "Producto_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPCh0_mean",[
                                                              "Producto_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPT0_mean",[
                                                              "Producto_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPSt0_mean",[
                                                              "Producto_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SP0_mean",[
                                                              "Producto_ID"],
                                                          ["mean"]),
                                                      ("SPnClRACh0_mean",[  ##PRODNAMES START
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClRA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPnClRCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClACh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClR0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPnClA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnClCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnCl0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPnR0_mean",[
                                                              "Prod_name_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPnA0_mean",[
                                                              "Prod_name_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnT0_mean",[
                                                              "Prod_name_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPnSt0_mean",[
                                                              "Prod_name_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SPn0_mean",[
                                                              "Prod_name_ID"],
                                                          ["mean"]),
                                                       ("SBClRACh0_mean",[ ##brand id START
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SBClRA0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SBClRCh0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SBClACh0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SBClR0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SBClA0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SBClCh0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SBCl0_mean",[
                                                              "Brand_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SBR0_mean",[
                                                              "Brand_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SBA0_mean",[
                                                              "Brand_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SBCh0_mean",[
                                                              "Brand_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SBT0_mean",[
                                                              "Brand_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SBSt0_mean",[
                                                              "Brand_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SB0_mean",[
                                                              "Brand_ID"],
                                                          ["mean"])
                                                       
                                                       
                                                       ], "Lag0", True)
print  configLag0Target1DeleteColumnsFalse.__dict__

{'nameAndGroups': [('SPClRACh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClRA0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPClRCh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPClACh0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClR0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPClA0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPClCh0_mean', ['Producto_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPCl0_mean', ['Producto_ID', 'Cliente_ID'], ['mean']), ('SPR0_mean', ['Producto_ID', 'Ruta_SAK'], ['mean']), ('SPA0_mean', ['Producto_ID', 'Agencia_ID'], ['mean']), ('SPCh0_mean', ['Producto_ID', 'Canal_ID'], ['mean']), ('SPT0_mean', ['Producto_ID', 'Town_ID'], ['mean']), ('SPSt0_mean', ['Producto_ID', 'State_ID'], ['mean']), ('SP0_mean', ['Producto_ID'], ['mean']), ('SPnClRACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClRA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPnClRCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPnClACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClR0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPnClA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPnClCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPnCl0_mean', ['Prod_name_ID', 'Cliente_ID'], ['mean']), ('SPnR0_mean', ['Prod_name_ID', 'Ruta_SAK'], ['mean']), ('SPnA0_mean', ['Prod_name_ID', 'Agencia_ID'], ['mean']), ('SPnCh0_mean', ['Prod_name_ID', 'Canal_ID'], ['mean']), ('SPnT0_mean', ['Prod_name_ID', 'Town_ID'], ['mean']), ('SPnSt0_mean', ['Prod_name_ID', 'State_ID'], ['mean']), ('SPn0_mean', ['Prod_name_ID'], ['mean']), ('SBClRACh0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SBClRA0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SBClRCh0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SBClACh0_mean', ['Brand_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SBClR0_mean', ['Brand_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SBClA0_mean', ['Brand_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SBClCh0_mean', ['Brand_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SBCl0_mean', ['Brand_ID', 'Cliente_ID'], ['mean']), ('SBR0_mean', ['Brand_ID', 'Ruta_SAK'], ['mean']), ('SBA0_mean', ['Brand_ID', 'Agencia_ID'], ['mean']), ('SBCh0_mean', ['Brand_ID', 'Canal_ID'], ['mean']), ('SBT0_mean', ['Brand_ID', 'Town_ID'], ['mean']), ('SBSt0_mean', ['Brand_ID', 'State_ID'], ['mean']), ('SB0_mean', ['Brand_ID'], ['mean'])], 'lag': 0, 'targetVariable': 'Lag0', 'deleteColumns': True}

In [16]:
FE.AddConfigurableFeaturesToTrain(configLag0Target1DeleteColumnsFalse)

SPClRACh0_mean is not in columns..

                                                     SPClRACh0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
41          146030     3303     2281       7               4.186777
            681747     3306     2281       7               7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,NaN,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,NaN,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,NaN,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,NaN,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,NaN,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,NaN,1.177221

Count of missing numbers after SPClRACh0_mean in validation part 1 in column Lag0 is 2088427
Count of missing numbers after SPClRACh0_mean in validation part 2 in column Lag0 is 2820892
SPClRA0_mean is not in columns..

                                            SPClRA0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID
41          146030     3303     2281            4.186777
            681747     3306     2281            7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPClRA0_mean in validation part 1 in column Lag0 is 2088058
Count of missing numbers after SPClRA0_mean in validation part 2 in column Lag0 is 2820229
SPClRCh0_mean is not in columns..

                                          SPClRCh0_mean
Producto_ID Cliente_ID Ruta_SAK Canal_ID
41          146030     3303     7              4.186777
            681747     3306     7              7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClRCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPClRCh0_mean in validation part 1 in column Lag0 is 2087372
Count of missing numbers after SPClRCh0_mean in validation part 2 in column Lag0 is 2819393
SPClACh0_mean is not in columns..

                                            SPClACh0_mean
Producto_ID Cliente_ID Agencia_ID Canal_ID
41          146030     2281       7              4.186777
            681747     2281       7              7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPClACh0_mean in validation part 1 in column Lag0 is 1992349
Count of missing numbers after SPClACh0_mean in validation part 2 in column Lag0 is 2665904
SPClR0_mean is not in columns..

                                 SPClR0_mean
Producto_ID Cliente_ID Ruta_SAK
41          146030     3303         4.186777
            681747     3306         7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPClR0_mean in validation part 1 in column Lag0 is 1992349
Count of missing numbers after SPClR0_mean in validation part 2 in column Lag0 is 2665904
SPClA0_mean is not in columns..

                                   SPClA0_mean
Producto_ID Cliente_ID Agencia_ID
41          146030     2281           4.186777
            681747     2281           7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPClA0_mean in validation part 1 in column Lag0 is 1992072
Count of missing numbers after SPClA0_mean in validation part 2 in column Lag0 is 2660895
SPClCh0_mean is not in columns..

                                 SPClCh0_mean
Producto_ID Cliente_ID Canal_ID
41          146030     7             4.186777
            681747     7             7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPClCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPClCh0_mean in validation part 1 in column Lag0 is 1990652
Count of missing numbers after SPClCh0_mean in validation part 2 in column Lag0 is 2659054
SPCl0_mean is not in columns..

                        SPCl0_mean
Producto_ID Cliente_ID
41          146030        4.186777
            681747        7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPCl0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPCl0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPCl0_mean in validation part 1 in column Lag0 is 1990237
Count of missing numbers after SPCl0_mean in validation part 2 in column Lag0 is 2658300
SPR0_mean is not in columns..

                      SPR0_mean
Producto_ID Ruta_SAK
41          3201       2.861801
            3301       5.118889

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.582534
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.684037

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.582534
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.684037

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.582534
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.562517

Count of missing numbers after SPR0_mean in validation part 1 in column Lag0 is 38922
Count of missing numbers after SPR0_mean in validation part 2 in column Lag0 is 100599
SPA0_mean is not in columns..

                        SPA0_mean
Producto_ID Agencia_ID
41          1958         3.448278
            2278         5.118889

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.605463
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.435732

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.605463
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.435732

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.605463
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.700429

Count of missing numbers after SPA0_mean in validation part 1 in column Lag0 is 22862
Count of missing numbers after SPA0_mean in validation part 2 in column Lag0 is 74767
SPCh0_mean is not in columns..

                      SPCh0_mean
Producto_ID Canal_ID
41          7           4.840077
53          4           5.471244

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.535068
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.550339

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.535068
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.550339

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.535068
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.625240

Count of missing numbers after SPCh0_mean in validation part 1 in column Lag0 is 1158
Count of missing numbers after SPCh0_mean in validation part 2 in column Lag0 is 8555
SPT0_mean is not in columns..

                     SPT0_mean
Producto_ID Town_ID
41          2288      3.448278
            2381      5.617836

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.740636
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.555377

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPT0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.740636
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.555377

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPT0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.740636
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.810820

Count of missing numbers after SPT0_mean in validation part 1 in column Lag0 is 1115
Count of missing numbers after SPT0_mean in validation part 2 in column Lag0 is 8424
SPSt0_mean is not in columns..

                      SPSt0_mean
Producto_ID State_ID
41          22          4.949706
            25          3.448278

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.415965
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.287240

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPSt0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.415965
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.287240

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPSt0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.415965
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.620462

Count of missing numbers after SPSt0_mean in validation part 1 in column Lag0 is 1090
Count of missing numbers after SPSt0_mean in validation part 2 in column Lag0 is 8206
SP0_mean is not in columns..

             SP0_mean
Producto_ID
41           4.840077
53           5.471244

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SP0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.194791
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.223483

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SP0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.194791
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.223483

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SP0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.194791
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.267791

Count of missing numbers after SP0_mean in validation part 1 in column Lag0 is 1010
Count of missing numbers after SP0_mean in validation part 2 in column Lag0 is 7913
SPnClRACh0_mean is not in columns..

                                                      SPnClRACh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
0            60         7238     2061       2                4.986742
             65         7250     2061       2                4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPnClRACh0_mean in validation part 1 in column Lag0 is 664
Count of missing numbers after SPnClRACh0_mean in validation part 2 in column Lag0 is 6485
SPnClRA0_mean is not in columns..

                                             SPnClRA0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID
0            60         7238     2061             4.986742
             65         7250     2061             4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPnClRA0_mean in validation part 1 in column Lag0 is 664
Count of missing numbers after SPnClRA0_mean in validation part 2 in column Lag0 is 6485
SPnClRCh0_mean is not in columns..

                                           SPnClRCh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Canal_ID
0            60         7238     2               4.986742
             65         7250     2               4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClRCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPnClRCh0_mean in validation part 1 in column Lag0 is 664
Count of missing numbers after SPnClRCh0_mean in validation part 2 in column Lag0 is 6485
SPnClACh0_mean is not in columns..

                                             SPnClACh0_mean
Prod_name_ID Cliente_ID Agencia_ID Canal_ID
0            60         2061       2               4.986742
             65         2061       2               4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPnClACh0_mean in validation part 1 in column Lag0 is 664
Count of missing numbers after SPnClACh0_mean in validation part 2 in column Lag0 is 6461
SPnClR0_mean is not in columns..

                                  SPnClR0_mean
Prod_name_ID Cliente_ID Ruta_SAK
0            60         7238          4.986742
             65         7250          4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPnClR0_mean in validation part 1 in column Lag0 is 664
Count of missing numbers after SPnClR0_mean in validation part 2 in column Lag0 is 6461
SPnClA0_mean is not in columns..

                                    SPnClA0_mean
Prod_name_ID Cliente_ID Agencia_ID
0            60         2061            4.986742
             65         2061            4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPnClA0_mean in validation part 1 in column Lag0 is 664
Count of missing numbers after SPnClA0_mean in validation part 2 in column Lag0 is 6461
SPnClCh0_mean is not in columns..

                                  SPnClCh0_mean
Prod_name_ID Cliente_ID Canal_ID
0            60         2              4.986742
             65         2              4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnClCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPnClCh0_mean in validation part 1 in column Lag0 is 664
Count of missing numbers after SPnClCh0_mean in validation part 2 in column Lag0 is 6461
SPnCl0_mean is not in columns..

                         SPnCl0_mean
Prod_name_ID Cliente_ID
0            60             4.986742
             65             4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnCl0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnCl0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

Count of missing numbers after SPnCl0_mean in validation part 1 in column Lag0 is 664
Count of missing numbers after SPnCl0_mean in validation part 2 in column Lag0 is 6461
SPnR0_mean is not in columns..

                       SPnR0_mean
Prod_name_ID Ruta_SAK
0            1           4.077130
             2           3.983572

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.564910
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.709363

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.564910
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.709363

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.564910
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.562517

Count of missing numbers after SPnR0_mean in validation part 1 in column Lag0 is 62
Count of missing numbers after SPnR0_mean in validation part 2 in column Lag0 is 4198
SPnA0_mean is not in columns..

                         SPnA0_mean
Prod_name_ID Agencia_ID
0            1110          1.794961
             1114          3.626225

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.618481
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.447509

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.618481
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.447509

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.618481
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.700429

Count of missing numbers after SPnA0_mean in validation part 1 in column Lag0 is 60
Count of missing numbers after SPnA0_mean in validation part 2 in column Lag0 is 4192
SPnCh0_mean is not in columns..

                       SPnCh0_mean
Prod_name_ID Canal_ID
0            1            2.099511
             2            3.275020

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.515458
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.547207

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.515458
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.547207

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.515458
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.625150

Count of missing numbers after SPnCh0_mean in validation part 1 in column Lag0 is 25
Count of missing numbers after SPnCh0_mean in validation part 2 in column Lag0 is 4059
SPnT0_mean is not in columns..

                      SPnT0_mean
Prod_name_ID Town_ID
0            2008       1.794961
             2011       3.535864

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.629357
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.519899

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnT0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.629357
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.519899

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnT0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.629357
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.810820

Count of missing numbers after SPnT0_mean in validation part 1 in column Lag0 is 25
Count of missing numbers after SPnT0_mean in validation part 2 in column Lag0 is 4059
SPnSt0_mean is not in columns..

                       SPnSt0_mean
Prod_name_ID State_ID
0            0            3.309993
             1            2.580053

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPnSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.353367
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.233396

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnSt0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.353367
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.233396

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPnSt0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.353367
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.620462

Count of missing numbers after SPnSt0_mean in validation part 1 in column Lag0 is 25
Count of missing numbers after SPnSt0_mean in validation part 2 in column Lag0 is 4059
SPn0_mean is not in columns..

              SPn0_mean
Prod_name_ID
0              3.059791
1              3.835229

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SPn0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.184787
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.236429

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPn0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.184787
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.236429

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SPn0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.184787
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.266114

Count of missing numbers after SPn0_mean in validation part 1 in column Lag0 is 22
Count of missing numbers after SPn0_mean in validation part 2 in column Lag0 is 4054
SBClRACh0_mean is not in columns..

                                                  SBClRACh0_mean
Brand_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
3        1697       3914     2095       11              0.693147
         2061       3916     2095       11              2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.635044
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.635044
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.635044

Count of missing numbers after SBClRACh0_mean in validation part 1 in column Lag0 is 11
Count of missing numbers after SBClRACh0_mean in validation part 2 in column Lag0 is 929
SBClRA0_mean is not in columns..

                                         SBClRA0_mean
Brand_ID Cliente_ID Ruta_SAK Agencia_ID
3        1697       3914     2095            0.693147
         2061       3916     2095            2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.635044
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.635044
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.635044

Count of missing numbers after SBClRA0_mean in validation part 1 in column Lag0 is 11
Count of missing numbers after SBClRA0_mean in validation part 2 in column Lag0 is 929
SBClRCh0_mean is not in columns..

                                       SBClRCh0_mean
Brand_ID Cliente_ID Ruta_SAK Canal_ID
3        1697       3914     11             0.693147
         2061       3916     11             2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.635044
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClRCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.635044
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.635044

Count of missing numbers after SBClRCh0_mean in validation part 1 in column Lag0 is 11
Count of missing numbers after SBClRCh0_mean in validation part 2 in column Lag0 is 929
SBClACh0_mean is not in columns..

                                         SBClACh0_mean
Brand_ID Cliente_ID Agencia_ID Canal_ID
3        1697       2095       11             0.693147
         2061       2095       11             2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.635044
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.635044
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.635044

Count of missing numbers after SBClACh0_mean in validation part 1 in column Lag0 is 10
Count of missing numbers after SBClACh0_mean in validation part 2 in column Lag0 is 829
SBClR0_mean is not in columns..

                              SBClR0_mean
Brand_ID Cliente_ID Ruta_SAK
3        1697       3914         0.693147
         2061       3916         2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.635044
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.635044
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.635044

Count of missing numbers after SBClR0_mean in validation part 1 in column Lag0 is 10
Count of missing numbers after SBClR0_mean in validation part 2 in column Lag0 is 829
SBClA0_mean is not in columns..

                                SBClA0_mean
Brand_ID Cliente_ID Agencia_ID
3        1697       2095           0.693147
         2061       2095           2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.635044
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.635044
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.635044

Count of missing numbers after SBClA0_mean in validation part 1 in column Lag0 is 9
Count of missing numbers after SBClA0_mean in validation part 2 in column Lag0 is 829
SBClCh0_mean is not in columns..

                              SBClCh0_mean
Brand_ID Cliente_ID Canal_ID
3        1697       11            0.693147
         2061       11            2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.635044
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBClCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.635044
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.635044

Count of missing numbers after SBClCh0_mean in validation part 1 in column Lag0 is 6
Count of missing numbers after SBClCh0_mean in validation part 2 in column Lag0 is 829
SBCl0_mean is not in columns..

                     SBCl0_mean
Brand_ID Cliente_ID
3        1697          0.693147
         2061          2.198410

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.635044
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBCl0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.635044
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.635044

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBCl0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.635044
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.635044

Count of missing numbers after SBCl0_mean in validation part 1 in column Lag0 is 6
Count of missing numbers after SBCl0_mean in validation part 2 in column Lag0 is 828
SBR0_mean is not in columns..

                   SBR0_mean
Brand_ID Ruta_SAK
3        3001       4.830271
         3002       4.795062

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,2.107004
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,2.107004

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,2.107004
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,2.107004

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,2.107004
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,2.107004

Count of missing numbers after SBR0_mean in validation part 1 in column Lag0 is 1
Count of missing numbers after SBR0_mean in validation part 2 in column Lag0 is 1
SBA0_mean is not in columns..

                     SBA0_mean
Brand_ID Agencia_ID
3        1110         1.390891
         1139         1.136344

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.991851
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.991851

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.991851
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.991851

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.991851
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.991851

Count of missing numbers after SBA0_mean in validation part 1 in column Lag0 is 0
Count of missing numbers after SBA0_mean in validation part 2 in column Lag0 is 1
SBCh0_mean is not in columns..

                   SBCh0_mean
Brand_ID Canal_ID
3        1           1.547920
         5           4.753014

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.982759
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.982759

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.982759
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.982759

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.982759
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.982759

Count of missing numbers after SBCh0_mean in validation part 1 in column Lag0 is 0
Count of missing numbers after SBCh0_mean in validation part 2 in column Lag0 is 1
SBT0_mean is not in columns..

                  SBT0_mean
Brand_ID Town_ID
3        2008      1.390891
         2010      1.166143

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.898671
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.898671

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBT0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.898671
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.898671

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBT0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.898671
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.898671

Count of missing numbers after SBT0_mean in validation part 1 in column Lag0 is 0
Count of missing numbers after SBT0_mean in validation part 2 in column Lag0 is 1
SBSt0_mean is not in columns..

                   SBSt0_mean
Brand_ID State_ID
3        0           4.477251
         1           4.700651

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SBSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.743934
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.743934

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBSt0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.743934
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.743934

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SBSt0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.743934
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.743934

Count of missing numbers after SBSt0_mean in validation part 1 in column Lag0 is 0
Count of missing numbers after SBSt0_mean in validation part 2 in column Lag0 is 1
SB0_mean is not in columns..

          SB0_mean
Brand_ID
3         4.597360
4         1.598639

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,SB0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.598639
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.598639

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SB0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.598639
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.598639

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,SB0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.598639
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.598639

Count of missing numbers after SB0_mean in validation part 1 in column Lag0 is 0
Count of missing numbers after SB0_mean in validation part 2 in column Lag0 is 1

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

In [17]:
FE.train.fillna(value=0, inplace=True)
FE.test1.fillna(value=0, inplace=True)
FE.test2.fillna(value=0, inplace=True)

In [18]:
FE.SaveDataFrameToHdf('both')

In [19]:
print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag0))
print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag0))
print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag0))

('RMSLE Score:', 0.28609762887474588)
('RMSLE Score:', 0.50657793939990814)
('RMSLE Score:', 0.5171768054536352)

In [20]:
configLag0Target1DeleteColumnsFalse = ConfigElements(1,[ ("SPClRACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClRA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPClRCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClR0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPClA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPClCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPCl0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPR0_mean",[
                                                              "Producto_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPA0_mean",[
                                                              "Producto_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPCh0_mean",[
                                                              "Producto_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPT0_mean",[
                                                              "Producto_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPSt0_mean",[
                                                              "Producto_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SP0_mean",[
                                                              "Producto_ID"],
                                                          ["mean"]),
                                                      ("SPnClRACh0_mean",[  ##PRODNAMES START
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClRA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPnClRCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClACh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClR0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPnClA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnClCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnCl0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPnR0_mean",[
                                                              "Prod_name_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPnA0_mean",[
                                                              "Prod_name_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnT0_mean",[
                                                              "Prod_name_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPnSt0_mean",[
                                                              "Prod_name_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SPn0_mean",[
                                                              "Prod_name_ID"],
                                                          ["mean"])

                                                       
                                                       ], "Lag1", True)
print  configLag0Target1DeleteColumnsFalse.__dict__

{'nameAndGroups': [('SPClRACh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClRA0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPClRCh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPClACh0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClR0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPClA0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPClCh0_mean', ['Producto_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPCl0_mean', ['Producto_ID', 'Cliente_ID'], ['mean']), ('SPR0_mean', ['Producto_ID', 'Ruta_SAK'], ['mean']), ('SPA0_mean', ['Producto_ID', 'Agencia_ID'], ['mean']), ('SPCh0_mean', ['Producto_ID', 'Canal_ID'], ['mean']), ('SPT0_mean', ['Producto_ID', 'Town_ID'], ['mean']), ('SPSt0_mean', ['Producto_ID', 'State_ID'], ['mean']), ('SP0_mean', ['Producto_ID'], ['mean']), ('SPnClRACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClRA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPnClRCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPnClACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClR0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPnClA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPnClCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPnCl0_mean', ['Prod_name_ID', 'Cliente_ID'], ['mean']), ('SPnR0_mean', ['Prod_name_ID', 'Ruta_SAK'], ['mean']), ('SPnA0_mean', ['Prod_name_ID', 'Agencia_ID'], ['mean']), ('SPnCh0_mean', ['Prod_name_ID', 'Canal_ID'], ['mean']), ('SPnT0_mean', ['Prod_name_ID', 'Town_ID'], ['mean']), ('SPnSt0_mean', ['Prod_name_ID', 'State_ID'], ['mean']), ('SPn0_mean', ['Prod_name_ID'], ['mean'])], 'lag': 1, 'targetVariable': 'Lag1', 'deleteColumns': True}

In [21]:
FE.AddConfigurableFeaturesToTrain(configLag0Target1DeleteColumnsFalse)

SPClRACh0_mean is not in columns..

                                                     SPClRACh0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
41          146030     3303     2281       7               4.186777
            681747     3306     2281       7               7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,NaN,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,NaN,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClRACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,NaN,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,NaN,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPClRACh0_mean in validation part 1 in column Lag1 is 2088427
SPClRA0_mean is not in columns..

                                            SPClRA0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID
41          146030     3303     2281            4.186777
            681747     3306     2281            7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClRA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPClRA0_mean in validation part 1 in column Lag1 is 2088058
SPClRCh0_mean is not in columns..

                                          SPClRCh0_mean
Producto_ID Cliente_ID Ruta_SAK Canal_ID
41          146030     3303     7              4.186777
            681747     3306     7              7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClRCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPClRCh0_mean in validation part 1 in column Lag1 is 2087372
SPClACh0_mean is not in columns..

                                            SPClACh0_mean
Producto_ID Cliente_ID Agencia_ID Canal_ID
41          146030     2281       7              4.186777
            681747     2281       7              7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPClACh0_mean in validation part 1 in column Lag1 is 1992349
SPClR0_mean is not in columns..

                                 SPClR0_mean
Producto_ID Cliente_ID Ruta_SAK
41          146030     3303         4.186777
            681747     3306         7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPClR0_mean in validation part 1 in column Lag1 is 1992349
SPClA0_mean is not in columns..

                                   SPClA0_mean
Producto_ID Cliente_ID Agencia_ID
41          146030     2281           4.186777
            681747     2281           7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPClA0_mean in validation part 1 in column Lag1 is 1992072
SPClCh0_mean is not in columns..

                                 SPClCh0_mean
Producto_ID Cliente_ID Canal_ID
41          146030     7             4.186777
            681747     7             7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPClCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPClCh0_mean in validation part 1 in column Lag1 is 1990652
SPCl0_mean is not in columns..

                        SPCl0_mean
Producto_ID Cliente_ID
41          146030        4.186777
            681747        7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPCl0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPCl0_mean in validation part 1 in column Lag1 is 1990237
SPR0_mean is not in columns..

                      SPR0_mean
Producto_ID Ruta_SAK
41          3201       2.861801
            3301       5.118889

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.582534
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.684037

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.582534
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.684037

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPR0_mean in validation part 1 in column Lag1 is 38922
SPA0_mean is not in columns..

                        SPA0_mean
Producto_ID Agencia_ID
41          1958         3.448278
            2278         5.118889

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.605463
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.435732

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.605463
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.435732

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPA0_mean in validation part 1 in column Lag1 is 22862
SPCh0_mean is not in columns..

                      SPCh0_mean
Producto_ID Canal_ID
41          7           4.840077
53          4           5.471244

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.535068
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.550339

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.535068
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.550339

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPCh0_mean in validation part 1 in column Lag1 is 1158
SPT0_mean is not in columns..

                     SPT0_mean
Producto_ID Town_ID
41          2288      3.448278
            2381      5.617836

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.740636
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.555377

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPT0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.740636
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.555377

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPT0_mean in validation part 1 in column Lag1 is 1115
SPSt0_mean is not in columns..

                      SPSt0_mean
Producto_ID State_ID
41          22          4.949706
            25          3.448278

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.415965
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.287240

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPSt0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.415965
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.287240

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPSt0_mean in validation part 1 in column Lag1 is 1090
SP0_mean is not in columns..

             SP0_mean
Producto_ID
41           4.840077
53           5.471244

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SP0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.194791
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.223483

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SP0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.194791
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.223483

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SP0_mean in validation part 1 in column Lag1 is 1010
SPnClRACh0_mean is not in columns..

                                                      SPnClRACh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
0            60         7238     2061       2                4.986742
             65         7250     2061       2                4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClRACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnClRACh0_mean in validation part 1 in column Lag1 is 664
SPnClRA0_mean is not in columns..

                                             SPnClRA0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID
0            60         7238     2061             4.986742
             65         7250     2061             4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClRA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnClRA0_mean in validation part 1 in column Lag1 is 664
SPnClRCh0_mean is not in columns..

                                           SPnClRCh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Canal_ID
0            60         7238     2               4.986742
             65         7250     2               4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClRCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnClRCh0_mean in validation part 1 in column Lag1 is 664
SPnClACh0_mean is not in columns..

                                             SPnClACh0_mean
Prod_name_ID Cliente_ID Agencia_ID Canal_ID
0            60         2061       2               4.986742
             65         2061       2               4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnClACh0_mean in validation part 1 in column Lag1 is 664
SPnClR0_mean is not in columns..

                                  SPnClR0_mean
Prod_name_ID Cliente_ID Ruta_SAK
0            60         7238          4.986742
             65         7250          4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnClR0_mean in validation part 1 in column Lag1 is 664
SPnClA0_mean is not in columns..

                                    SPnClA0_mean
Prod_name_ID Cliente_ID Agencia_ID
0            60         2061            4.986742
             65         2061            4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnClA0_mean in validation part 1 in column Lag1 is 664
SPnClCh0_mean is not in columns..

                                  SPnClCh0_mean
Prod_name_ID Cliente_ID Canal_ID
0            60         2              4.986742
             65         2              4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnClCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnClCh0_mean in validation part 1 in column Lag1 is 664
SPnCl0_mean is not in columns..

                         SPnCl0_mean
Prod_name_ID Cliente_ID
0            60             4.986742
             65             4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnCl0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnCl0_mean in validation part 1 in column Lag1 is 664
SPnR0_mean is not in columns..

                       SPnR0_mean
Prod_name_ID Ruta_SAK
0            1           4.077130
             2           3.983572

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.564910
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.709363

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.564910
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.709363

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnR0_mean in validation part 1 in column Lag1 is 62
SPnA0_mean is not in columns..

                         SPnA0_mean
Prod_name_ID Agencia_ID
0            1110          1.794961
             1114          3.626225

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.618481
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.447509

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.618481
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.447509

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnA0_mean in validation part 1 in column Lag1 is 60
SPnCh0_mean is not in columns..

                       SPnCh0_mean
Prod_name_ID Canal_ID
0            1            2.099511
             2            3.275020

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.515458
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.547207

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.515458
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.547207

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnCh0_mean in validation part 1 in column Lag1 is 25
SPnT0_mean is not in columns..

                      SPnT0_mean
Prod_name_ID Town_ID
0            2008       1.794961
             2011       3.535864

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.629357
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.519899

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnT0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.629357
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.519899

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnT0_mean in validation part 1 in column Lag1 is 25
SPnSt0_mean is not in columns..

                       SPnSt0_mean
Prod_name_ID State_ID
0            0            3.309993
             1            2.580053

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPnSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.353367
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.233396

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPnSt0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.353367
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.233396

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPnSt0_mean in validation part 1 in column Lag1 is 25
SPn0_mean is not in columns..

              SPn0_mean
Prod_name_ID
0              3.059791
1              3.835229

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,SPn0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.184787
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.236429

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,SPn0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.184787
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.236429

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

Count of missing numbers after SPn0_mean in validation part 1 in column Lag1 is 22

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,1.386294,2008,16,120,2,709,4,True,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,1.609438,2008,16,135,2,712,4,True,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221

In [22]:
FE.train.fillna(value=0, inplace=True)
FE.test1.fillna(value=0, inplace=True)
FE.test2.fillna(value=0, inplace=True)

In [23]:
FE.SaveDataFrameToHdf('both')

In [24]:
configLag0Target1DeleteColumnsFalse = ConfigElements(2,[ ("SPClRACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClRA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPClRCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClR0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPClA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPClCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPCl0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPR0_mean",[
                                                              "Producto_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPA0_mean",[
                                                              "Producto_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPCh0_mean",[
                                                              "Producto_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPT0_mean",[
                                                              "Producto_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPSt0_mean",[
                                                              "Producto_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SP0_mean",[
                                                              "Producto_ID"],
                                                          ["mean"]),
                                                      ("SPnClRACh0_mean",[  ##PRODNAMES START
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClRA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPnClRCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClACh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClR0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPnClA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnClCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnCl0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPnR0_mean",[
                                                              "Prod_name_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPnA0_mean",[
                                                              "Prod_name_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnT0_mean",[
                                                              "Prod_name_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPnSt0_mean",[
                                                              "Prod_name_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SPn0_mean",[
                                                              "Prod_name_ID"],
                                                          ["mean"])

                                                       
                                                       ], "Lag2", True)
print  configLag0Target1DeleteColumnsFalse.__dict__

{'nameAndGroups': [('SPClRACh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClRA0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPClRCh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPClACh0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClR0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPClA0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPClCh0_mean', ['Producto_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPCl0_mean', ['Producto_ID', 'Cliente_ID'], ['mean']), ('SPR0_mean', ['Producto_ID', 'Ruta_SAK'], ['mean']), ('SPA0_mean', ['Producto_ID', 'Agencia_ID'], ['mean']), ('SPCh0_mean', ['Producto_ID', 'Canal_ID'], ['mean']), ('SPT0_mean', ['Producto_ID', 'Town_ID'], ['mean']), ('SPSt0_mean', ['Producto_ID', 'State_ID'], ['mean']), ('SP0_mean', ['Producto_ID'], ['mean']), ('SPnClRACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClRA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPnClRCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPnClACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClR0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPnClA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPnClCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPnCl0_mean', ['Prod_name_ID', 'Cliente_ID'], ['mean']), ('SPnR0_mean', ['Prod_name_ID', 'Ruta_SAK'], ['mean']), ('SPnA0_mean', ['Prod_name_ID', 'Agencia_ID'], ['mean']), ('SPnCh0_mean', ['Prod_name_ID', 'Canal_ID'], ['mean']), ('SPnT0_mean', ['Prod_name_ID', 'Town_ID'], ['mean']), ('SPnSt0_mean', ['Prod_name_ID', 'State_ID'], ['mean']), ('SPn0_mean', ['Prod_name_ID'], ['mean'])], 'lag': 2, 'targetVariable': 'Lag2', 'deleteColumns': True}

In [25]:
FE.AddConfigurableFeaturesToTrain(configLag0Target1DeleteColumnsFalse)

SPClRACh0_mean is not in columns..

                                                     SPClRACh0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
41          146030     3303     2281       7               4.186777
            681747     3306     2281       7               7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,NaN,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,NaN,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClRACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,NaN,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,NaN,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClRACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,NaN,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,NaN,1.177221

Count of missing numbers after SPClRACh0_mean in validation part 1 in column Lag2 is 2088427
Count of missing numbers after SPClRACh0_mean in validation part 2 in column Lag2 is 2820892
SPClRA0_mean is not in columns..

                                            SPClRA0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID
41          146030     3303     2281            4.186777
            681747     3306     2281            7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClRA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClRA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPClRA0_mean in validation part 1 in column Lag2 is 2088058
Count of missing numbers after SPClRA0_mean in validation part 2 in column Lag2 is 2820229
SPClRCh0_mean is not in columns..

                                          SPClRCh0_mean
Producto_ID Cliente_ID Ruta_SAK Canal_ID
41          146030     3303     7              4.186777
            681747     3306     7              7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClRCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClRCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPClRCh0_mean in validation part 1 in column Lag2 is 2087372
Count of missing numbers after SPClRCh0_mean in validation part 2 in column Lag2 is 2819393
SPClACh0_mean is not in columns..

                                            SPClACh0_mean
Producto_ID Cliente_ID Agencia_ID Canal_ID
41          146030     2281       7              4.186777
            681747     2281       7              7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPClACh0_mean in validation part 1 in column Lag2 is 1992349
Count of missing numbers after SPClACh0_mean in validation part 2 in column Lag2 is 2665904
SPClR0_mean is not in columns..

                                 SPClR0_mean
Producto_ID Cliente_ID Ruta_SAK
41          146030     3303         4.186777
            681747     3306         7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPClR0_mean in validation part 1 in column Lag2 is 1992349
Count of missing numbers after SPClR0_mean in validation part 2 in column Lag2 is 2665904
SPClA0_mean is not in columns..

                                   SPClA0_mean
Producto_ID Cliente_ID Agencia_ID
41          146030     2281           4.186777
            681747     2281           7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPClA0_mean in validation part 1 in column Lag2 is 1992072
Count of missing numbers after SPClA0_mean in validation part 2 in column Lag2 is 2660895
SPClCh0_mean is not in columns..

                                 SPClCh0_mean
Producto_ID Cliente_ID Canal_ID
41          146030     7             4.186777
            681747     7             7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPClCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPClCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPClCh0_mean in validation part 1 in column Lag2 is 1990652
Count of missing numbers after SPClCh0_mean in validation part 2 in column Lag2 is 2659054
SPCl0_mean is not in columns..

                        SPCl0_mean
Producto_ID Cliente_ID
41          146030        4.186777
            681747        7.364178

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPCl0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPCl0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPCl0_mean in validation part 1 in column Lag2 is 1990237
Count of missing numbers after SPCl0_mean in validation part 2 in column Lag2 is 2658300
SPR0_mean is not in columns..

                      SPR0_mean
Producto_ID Ruta_SAK
41          3201       2.861801
            3301       5.118889

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.582534
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.684037

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.582534
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.684037

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.582534
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.562517

Count of missing numbers after SPR0_mean in validation part 1 in column Lag2 is 38922
Count of missing numbers after SPR0_mean in validation part 2 in column Lag2 is 100599
SPA0_mean is not in columns..

                        SPA0_mean
Producto_ID Agencia_ID
41          1958         3.448278
            2278         5.118889

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.605463
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.435732

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.605463
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.435732

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.605463
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.700429

Count of missing numbers after SPA0_mean in validation part 1 in column Lag2 is 22862
Count of missing numbers after SPA0_mean in validation part 2 in column Lag2 is 74767
SPCh0_mean is not in columns..

                      SPCh0_mean
Producto_ID Canal_ID
41          7           4.840077
53          4           5.471244

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.535068
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.550339

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.535068
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.550339

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.535068
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.625240

Count of missing numbers after SPCh0_mean in validation part 1 in column Lag2 is 1158
Count of missing numbers after SPCh0_mean in validation part 2 in column Lag2 is 8555
SPT0_mean is not in columns..

                     SPT0_mean
Producto_ID Town_ID
41          2288      3.448278
            2381      5.617836

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.740636
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.555377

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPT0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.740636
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.555377

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPT0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.740636
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.810820

Count of missing numbers after SPT0_mean in validation part 1 in column Lag2 is 1115
Count of missing numbers after SPT0_mean in validation part 2 in column Lag2 is 8424
SPSt0_mean is not in columns..

                      SPSt0_mean
Producto_ID State_ID
41          22          4.949706
            25          3.448278

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.415965
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.287240

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPSt0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.415965
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.287240

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPSt0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.415965
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.620462

Count of missing numbers after SPSt0_mean in validation part 1 in column Lag2 is 1090
Count of missing numbers after SPSt0_mean in validation part 2 in column Lag2 is 8206
SP0_mean is not in columns..

             SP0_mean
Producto_ID
41           4.840077
53           5.471244

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SP0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.194791
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.223483

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SP0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.194791
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.223483

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SP0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.194791
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.267791

Count of missing numbers after SP0_mean in validation part 1 in column Lag2 is 1010
Count of missing numbers after SP0_mean in validation part 2 in column Lag2 is 7913
SPnClRACh0_mean is not in columns..

                                                      SPnClRACh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
0            60         7238     2061       2                4.986742
             65         7250     2061       2                4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClRACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClRACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPnClRACh0_mean in validation part 1 in column Lag2 is 664
Count of missing numbers after SPnClRACh0_mean in validation part 2 in column Lag2 is 6485
SPnClRA0_mean is not in columns..

                                             SPnClRA0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID
0            60         7238     2061             4.986742
             65         7250     2061             4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClRA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClRA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPnClRA0_mean in validation part 1 in column Lag2 is 664
Count of missing numbers after SPnClRA0_mean in validation part 2 in column Lag2 is 6485
SPnClRCh0_mean is not in columns..

                                           SPnClRCh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Canal_ID
0            60         7238     2               4.986742
             65         7250     2               4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClRCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClRCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPnClRCh0_mean in validation part 1 in column Lag2 is 664
Count of missing numbers after SPnClRCh0_mean in validation part 2 in column Lag2 is 6485
SPnClACh0_mean is not in columns..

                                             SPnClACh0_mean
Prod_name_ID Cliente_ID Agencia_ID Canal_ID
0            60         2061       2               4.986742
             65         2061       2               4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPnClACh0_mean in validation part 1 in column Lag2 is 664
Count of missing numbers after SPnClACh0_mean in validation part 2 in column Lag2 is 6461
SPnClR0_mean is not in columns..

                                  SPnClR0_mean
Prod_name_ID Cliente_ID Ruta_SAK
0            60         7238          4.986742
             65         7250          4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPnClR0_mean in validation part 1 in column Lag2 is 664
Count of missing numbers after SPnClR0_mean in validation part 2 in column Lag2 is 6461
SPnClA0_mean is not in columns..

                                    SPnClA0_mean
Prod_name_ID Cliente_ID Agencia_ID
0            60         2061            4.986742
             65         2061            4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPnClA0_mean in validation part 1 in column Lag2 is 664
Count of missing numbers after SPnClA0_mean in validation part 2 in column Lag2 is 6461
SPnClCh0_mean is not in columns..

                                  SPnClCh0_mean
Prod_name_ID Cliente_ID Canal_ID
0            60         2              4.986742
             65         2              4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnClCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnClCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPnClCh0_mean in validation part 1 in column Lag2 is 664
Count of missing numbers after SPnClCh0_mean in validation part 2 in column Lag2 is 6461
SPnCl0_mean is not in columns..

                         SPnCl0_mean
Prod_name_ID Cliente_ID
0            60             4.986742
             65             4.303204

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnCl0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnCl0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.177221

Count of missing numbers after SPnCl0_mean in validation part 1 in column Lag2 is 664
Count of missing numbers after SPnCl0_mean in validation part 2 in column Lag2 is 6461
SPnR0_mean is not in columns..

                       SPnR0_mean
Prod_name_ID Ruta_SAK
0            1           4.077130
             2           3.983572

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.564910
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.709363

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.564910
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.709363

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.564910
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.562517

Count of missing numbers after SPnR0_mean in validation part 1 in column Lag2 is 62
Count of missing numbers after SPnR0_mean in validation part 2 in column Lag2 is 4198
SPnA0_mean is not in columns..

                         SPnA0_mean
Prod_name_ID Agencia_ID
0            1110          1.794961
             1114          3.626225

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.618481
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.447509

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.618481
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.447509

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.618481
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.700429

Count of missing numbers after SPnA0_mean in validation part 1 in column Lag2 is 60
Count of missing numbers after SPnA0_mean in validation part 2 in column Lag2 is 4192
SPnCh0_mean is not in columns..

                       SPnCh0_mean
Prod_name_ID Canal_ID
0            1            2.099511
             2            3.275020

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.515458
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.547207

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.515458
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.547207

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.515458
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.625150

Count of missing numbers after SPnCh0_mean in validation part 1 in column Lag2 is 25
Count of missing numbers after SPnCh0_mean in validation part 2 in column Lag2 is 4059
SPnT0_mean is not in columns..

                      SPnT0_mean
Prod_name_ID Town_ID
0            2008       1.794961
             2011       3.535864

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.629357
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.519899

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnT0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.629357
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.519899

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnT0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.629357
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.810820

Count of missing numbers after SPnT0_mean in validation part 1 in column Lag2 is 25
Count of missing numbers after SPnT0_mean in validation part 2 in column Lag2 is 4059
SPnSt0_mean is not in columns..

                       SPnSt0_mean
Prod_name_ID State_ID
0            0            3.309993
             1            2.580053

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPnSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.353367
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.233396

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPnSt0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.353367
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.233396

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPnSt0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.353367
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.620462

Count of missing numbers after SPnSt0_mean in validation part 1 in column Lag2 is 25
Count of missing numbers after SPnSt0_mean in validation part 2 in column Lag2 is 4059
SPn0_mean is not in columns..

              SPn0_mean
Prod_name_ID
0              3.059791
1              3.835229

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,SPn0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.184787
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.236429

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,SPn0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.184787
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.236429

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,SPn0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.184787
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.266114

Count of missing numbers after SPn0_mean in validation part 1 in column Lag2 is 22
Count of missing numbers after SPn0_mean in validation part 2 in column Lag2 is 4054

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,2008,16,120,2,709,4,True,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,2008,16,135,2,712,4,True,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,1.609438,2008,16,120,2,709,4,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,1.791759,2008,16,135,2,712,4,1.177221,1.177221,1.177221

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221

In [26]:
FE.train.fillna(value=0, inplace=True)
FE.test1.fillna(value=0, inplace=True)
FE.test2.fillna(value=0, inplace=True)

In [27]:
FE.SaveDataFrameToHdf('both')

In [28]:
configLag0Target1DeleteColumnsFalse = ConfigElements(3,[ ("SPClRACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClRA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPClRCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClACh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPClR0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPClA0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPClCh0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPCl0_mean",[
                                                              "Producto_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPR0_mean",[
                                                              "Producto_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPA0_mean",[
                                                              "Producto_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPCh0_mean",[
                                                              "Producto_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPT0_mean",[
                                                              "Producto_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPSt0_mean",[
                                                              "Producto_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SP0_mean",[
                                                              "Producto_ID"],
                                                          ["mean"]),
                                                      ("SPnClRACh0_mean",[  ##PRODNAMES START
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClRA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                        ("SPnClRCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClACh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                        ("SPnClR0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                        ("SPnClA0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnClCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnCl0_mean",[
                                                              "Prod_name_ID",
                                                              "Cliente_ID"],
                                                          ["mean"]),
                                                       ("SPnR0_mean",[
                                                              "Prod_name_ID",
                                                              "Ruta_SAK"],
                                                          ["mean"]),
                                                       ("SPnA0_mean",[
                                                              "Prod_name_ID",
                                                              "Agencia_ID"],
                                                          ["mean"]),
                                                       ("SPnCh0_mean",[
                                                              "Prod_name_ID",
                                                              "Canal_ID"],
                                                          ["mean"]),
                                                       ("SPnT0_mean",[
                                                              "Prod_name_ID",
                                                              "Town_ID"],
                                                          ["mean"]),
                                                       ("SPnSt0_mean",[
                                                              "Prod_name_ID",
                                                              "State_ID"],
                                                          ["mean"]),
                                                       ("SPn0_mean",[
                                                              "Prod_name_ID"],
                                                          ["mean"])

                                                       
                                                       ], "Lag3", True)
print  configLag0Target1DeleteColumnsFalse.__dict__

{'nameAndGroups': [('SPClRACh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClRA0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPClRCh0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPClACh0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPClR0_mean', ['Producto_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPClA0_mean', ['Producto_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPClCh0_mean', ['Producto_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPCl0_mean', ['Producto_ID', 'Cliente_ID'], ['mean']), ('SPR0_mean', ['Producto_ID', 'Ruta_SAK'], ['mean']), ('SPA0_mean', ['Producto_ID', 'Agencia_ID'], ['mean']), ('SPCh0_mean', ['Producto_ID', 'Canal_ID'], ['mean']), ('SPT0_mean', ['Producto_ID', 'Town_ID'], ['mean']), ('SPSt0_mean', ['Producto_ID', 'State_ID'], ['mean']), ('SP0_mean', ['Producto_ID'], ['mean']), ('SPnClRACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClRA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Agencia_ID'], ['mean']), ('SPnClRCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK', 'Canal_ID'], ['mean']), ('SPnClACh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID', 'Canal_ID'], ['mean']), ('SPnClR0_mean', ['Prod_name_ID', 'Cliente_ID', 'Ruta_SAK'], ['mean']), ('SPnClA0_mean', ['Prod_name_ID', 'Cliente_ID', 'Agencia_ID'], ['mean']), ('SPnClCh0_mean', ['Prod_name_ID', 'Cliente_ID', 'Canal_ID'], ['mean']), ('SPnCl0_mean', ['Prod_name_ID', 'Cliente_ID'], ['mean']), ('SPnR0_mean', ['Prod_name_ID', 'Ruta_SAK'], ['mean']), ('SPnA0_mean', ['Prod_name_ID', 'Agencia_ID'], ['mean']), ('SPnCh0_mean', ['Prod_name_ID', 'Canal_ID'], ['mean']), ('SPnT0_mean', ['Prod_name_ID', 'Town_ID'], ['mean']), ('SPnSt0_mean', ['Prod_name_ID', 'State_ID'], ['mean']), ('SPn0_mean', ['Prod_name_ID'], ['mean'])], 'lag': 3, 'targetVariable': 'Lag3', 'deleteColumns': True}

In [29]:
FE.AddConfigurableFeaturesToTrain(configLag0Target1DeleteColumnsFalse)

/home/cankoklu/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

SPClRACh0_mean is not in columns..

                                                     SPClRACh0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
41          146030     3303     2281       7               4.262680
            681747     3306     2281       7               7.365355

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,NaN,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,NaN,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClRACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,NaN,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,NaN,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClRACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,NaN,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,NaN,1.196873

Count of missing numbers after SPClRACh0_mean in validation part 1 in column Lag3 is 3174317
Count of missing numbers after SPClRACh0_mean in validation part 2 in column Lag3 is 3468655
SPClRA0_mean is not in columns..

                                            SPClRA0_mean
Producto_ID Cliente_ID Ruta_SAK Agencia_ID
41          146030     3303     2281            4.262680
            681747     3306     2281            7.365355

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClRA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClRA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPClRA0_mean in validation part 1 in column Lag3 is 3173715
Count of missing numbers after SPClRA0_mean in validation part 2 in column Lag3 is 3468042
SPClRCh0_mean is not in columns..

                                          SPClRCh0_mean
Producto_ID Cliente_ID Ruta_SAK Canal_ID
41          146030     3303     7              4.262680
            681747     3306     7              7.365355

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClRCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClRCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPClRCh0_mean in validation part 1 in column Lag3 is 3172997
Count of missing numbers after SPClRCh0_mean in validation part 2 in column Lag3 is 3467218
SPClACh0_mean is not in columns..

                                            SPClACh0_mean
Producto_ID Cliente_ID Agencia_ID Canal_ID
41          146030     2281       7              4.262680
            681747     2281       7              7.365355

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPClACh0_mean in validation part 1 in column Lag3 is 2987223
Count of missing numbers after SPClACh0_mean in validation part 2 in column Lag3 is 3247012
SPClR0_mean is not in columns..

                                 SPClR0_mean
Producto_ID Cliente_ID Ruta_SAK
41          146030     3303         4.262680
            681747     3306         7.365355

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPClR0_mean in validation part 1 in column Lag3 is 2987223
Count of missing numbers after SPClR0_mean in validation part 2 in column Lag3 is 3247012
SPClA0_mean is not in columns..

                                   SPClA0_mean
Producto_ID Cliente_ID Agencia_ID
41          146030     2281           4.262680
            681747     2281           7.365355

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPClA0_mean in validation part 1 in column Lag3 is 2986664
Count of missing numbers after SPClA0_mean in validation part 2 in column Lag3 is 3242105
SPClCh0_mean is not in columns..

                                 SPClCh0_mean
Producto_ID Cliente_ID Canal_ID
41          146030     7             4.262680
            681747     7             7.365355

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPClCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPClCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPClCh0_mean in validation part 1 in column Lag3 is 2984599
Count of missing numbers after SPClCh0_mean in validation part 2 in column Lag3 is 3239873
SPCl0_mean is not in columns..

                        SPCl0_mean
Producto_ID Cliente_ID
41          146030        4.262680
            681747        7.365355

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPCl0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPCl0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPCl0_mean in validation part 1 in column Lag3 is 2984017
Count of missing numbers after SPCl0_mean in validation part 2 in column Lag3 is 3239056
SPR0_mean is not in columns..

                      SPR0_mean
Producto_ID Ruta_SAK
41          3201       2.760781
            3303       3.941922

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595648
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.697997

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595648
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.697997

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595648
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.578616

Count of missing numbers after SPR0_mean in validation part 1 in column Lag3 is 490158
Count of missing numbers after SPR0_mean in validation part 2 in column Lag3 is 610643
SPA0_mean is not in columns..

                        SPA0_mean
Producto_ID Agencia_ID
41          1958         3.543369
            2281         5.610964

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.609301
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.435777

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.609301
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.435777

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.609301
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.715158

Count of missing numbers after SPA0_mean in validation part 1 in column Lag3 is 452973
Count of missing numbers after SPA0_mean in validation part 2 in column Lag3 is 567538
SPCh0_mean is not in columns..

                      SPCh0_mean
Producto_ID Canal_ID
41          7           4.852525
53          4           5.643508

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.540587
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.548794

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.540587
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.548794

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.540587
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.633650

Count of missing numbers after SPCh0_mean in validation part 1 in column Lag3 is 179621
Count of missing numbers after SPCh0_mean in validation part 2 in column Lag3 is 233766
SPT0_mean is not in columns..

                     SPT0_mean
Producto_ID Town_ID
41          2288      3.543369
            2381      5.610964

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.746225
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.561296

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPT0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.746225
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.561296

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPT0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.746225
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.827072

Count of missing numbers after SPT0_mean in validation part 1 in column Lag3 is 179171
Count of missing numbers after SPT0_mean in validation part 2 in column Lag3 is 233232
SPSt0_mean is not in columns..

                      SPSt0_mean
Producto_ID State_ID
41          22          4.953229
            25          3.543369

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.421823
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.290081

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPSt0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.421823
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.290081

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPSt0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.421823
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.631987

Count of missing numbers after SPSt0_mean in validation part 1 in column Lag3 is 176382
Count of missing numbers after SPSt0_mean in validation part 2 in column Lag3 is 229038
SP0_mean is not in columns..

             SP0_mean
Producto_ID
41           4.852525
53           5.643508

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SP0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.198017
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.226732

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SP0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.198017
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.226732

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SP0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.198017
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.272701

Count of missing numbers after SP0_mean in validation part 1 in column Lag3 is 171642
Count of missing numbers after SP0_mean in validation part 2 in column Lag3 is 221176
SPnClRACh0_mean is not in columns..

                                                      SPnClRACh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID Canal_ID
0            60         7238     2061       2                5.003433
             65         7250     2061       2                4.406050

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClRACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClRACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClRACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPnClRACh0_mean in validation part 1 in column Lag3 is 78256
Count of missing numbers after SPnClRACh0_mean in validation part 2 in column Lag3 is 105543
SPnClRA0_mean is not in columns..

                                             SPnClRA0_mean
Prod_name_ID Cliente_ID Ruta_SAK Agencia_ID
0            60         7238     2061             5.003433
             65         7250     2061             4.406050

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClRA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClRA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClRA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPnClRA0_mean in validation part 1 in column Lag3 is 78246
Count of missing numbers after SPnClRA0_mean in validation part 2 in column Lag3 is 105531
SPnClRCh0_mean is not in columns..

                                           SPnClRCh0_mean
Prod_name_ID Cliente_ID Ruta_SAK Canal_ID
0            60         7238     2               5.003433
             65         7250     2               4.406050

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClRCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClRCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClRCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPnClRCh0_mean in validation part 1 in column Lag3 is 78246
Count of missing numbers after SPnClRCh0_mean in validation part 2 in column Lag3 is 105531
SPnClACh0_mean is not in columns..

                                             SPnClACh0_mean
Prod_name_ID Cliente_ID Agencia_ID Canal_ID
0            60         2061       2               5.003433
             65         2061       2               4.406050

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClACh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClACh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClACh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPnClACh0_mean in validation part 1 in column Lag3 is 75016
Count of missing numbers after SPnClACh0_mean in validation part 2 in column Lag3 is 101153
SPnClR0_mean is not in columns..

                                  SPnClR0_mean
Prod_name_ID Cliente_ID Ruta_SAK
0            60         7238          5.003433
             65         7250          4.406050

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPnClR0_mean in validation part 1 in column Lag3 is 75016
Count of missing numbers after SPnClR0_mean in validation part 2 in column Lag3 is 101153
SPnClA0_mean is not in columns..

                                    SPnClA0_mean
Prod_name_ID Cliente_ID Agencia_ID
0            60         2061            5.003433
             65         2061            4.406050

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPnClA0_mean in validation part 1 in column Lag3 is 75007
Count of missing numbers after SPnClA0_mean in validation part 2 in column Lag3 is 101021
SPnClCh0_mean is not in columns..

                                  SPnClCh0_mean
Prod_name_ID Cliente_ID Canal_ID
0            60         2              5.003433
             65         2              4.406050

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnClCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnClCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnClCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPnClCh0_mean in validation part 1 in column Lag3 is 74975
Count of missing numbers after SPnClCh0_mean in validation part 2 in column Lag3 is 100979
SPnCl0_mean is not in columns..

                         SPnCl0_mean
Prod_name_ID Cliente_ID
0            60             5.003433
             65             4.406050

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnCl0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnCl0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnCl0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.196873

Count of missing numbers after SPnCl0_mean in validation part 1 in column Lag3 is 74936
Count of missing numbers after SPnCl0_mean in validation part 2 in column Lag3 is 100916
SPnR0_mean is not in columns..

                       SPnR0_mean
Prod_name_ID Ruta_SAK
0            1           4.096187
             2           3.982993

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnR0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.572006
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.712953

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnR0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.572006
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.712953

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnR0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.572006
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.578616

Count of missing numbers after SPnR0_mean in validation part 1 in column Lag3 is 18212
Count of missing numbers after SPnR0_mean in validation part 2 in column Lag3 is 29223
SPnA0_mean is not in columns..

                         SPnA0_mean
Prod_name_ID Agencia_ID
0            1110          1.779002
             1114          3.651885

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnA0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.622211
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.449634

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnA0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.622211
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.449634

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnA0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.622211
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.715158

Count of missing numbers after SPnA0_mean in validation part 1 in column Lag3 is 18034
Count of missing numbers after SPnA0_mean in validation part 2 in column Lag3 is 28865
SPnCh0_mean is not in columns..

                       SPnCh0_mean
Prod_name_ID Canal_ID
0            1            2.115325
             2            3.279232

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnCh0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.518916
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.545140

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnCh0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.518916
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.545140

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnCh0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.518916
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.633864

Count of missing numbers after SPnCh0_mean in validation part 1 in column Lag3 is 17489
Count of missing numbers after SPnCh0_mean in validation part 2 in column Lag3 is 28351
SPnT0_mean is not in columns..

                      SPnT0_mean
Prod_name_ID Town_ID
0            2008       1.779002
             2011       3.570067

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnT0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.633534
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.524543

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnT0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.633534
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.524543

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnT0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.633534
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.827072

Count of missing numbers after SPnT0_mean in validation part 1 in column Lag3 is 17489
Count of missing numbers after SPnT0_mean in validation part 2 in column Lag3 is 28351
SPnSt0_mean is not in columns..

                       SPnSt0_mean
Prod_name_ID State_ID
0            0            3.335678
             1            2.575819

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPnSt0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.359651
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.235588

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPnSt0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.359651
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.235588

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPnSt0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.359651
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.631987

Count of missing numbers after SPnSt0_mean in validation part 1 in column Lag3 is 17489
Count of missing numbers after SPnSt0_mean in validation part 2 in column Lag3 is 28351
SPn0_mean is not in columns..

              SPn0_mean
Prod_name_ID
0              3.070386
1              3.797773

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3,SPn0_mean
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831,1.187510
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873,1.236501

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3,SPn0_mean
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831,1.187510
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873,1.236501

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3,SPn0_mean
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.187510
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,...,2008,16,140,2,630,4,1.177221,1.177221,1.196873,1.270154

Count of missing numbers after SPn0_mean in validation part 1 in column Lag3 is 17486
Count of missing numbers after SPn0_mean in validation part 2 in column Lag3 is 28346

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,State_ID,weight,pieces,Prod_name_ID,Brand_ID,DemandaNotEqualTheDifferenceOfVentaUniAndDev,Lag0,Lag1,Lag2,Lag3
0,3,1110,7,3301,15766,1212,3,25.139999,0,0.0,...,16,120,2,709,4,True,1.595831,1.595831,1.595831,1.595831
1,3,1110,7,3301,15766,1216,4,33.520000,0,0.0,...,16,135,2,712,4,True,1.177221,1.177221,1.177221,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,...,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag1,Lag2,Lag3
53364883,8,1110,7,3301,15766,1212,4,33.520000,0,0.0,...,2008,16,120,2,709,4,1.595831,1.595831,1.595831,1.595831
53364884,8,1110,7,3301,15766,1216,5,41.900002,0,0.0,...,2008,16,135,2,712,4,1.177221,1.177221,1.177221,1.196873

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil,Town_ID,State_ID,weight,pieces,Prod_name_ID,Brand_ID,Lag0,Lag2,Lag3
63771751,9,1110,7,3301,15766,1212,1,8.38,0,0.0,0.693147,2008,16,120,2,709,4,1.595831,1.595831,1.595831
63771752,9,1110,7,3301,15766,1238,2,19.66,0,0.0,1.098612,2008,16,140,2,630,4,1.177221,1.177221,1.196873

In [30]:
FE.train.fillna(value=0, inplace=True)
FE.test1.fillna(value=0, inplace=True)
FE.test2.fillna(value=0, inplace=True)

In [31]:
FE.SaveDataFrameToHdf('both')

In [33]:
print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag0))
print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag0))
print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag0))


print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag1))
print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag1))
#print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag1))


print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag2))
print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag2))
print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag2))


print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag3))
print ('RMSLE Score:', rmse(FE.test1.Demanda_uni_equil, FE.test1.Lag3))
print ('RMSLE Score:', rmse(FE.test2.Demanda_uni_equil, FE.test2.Lag3))

('RMSLE Score:', 0.28609762887474588)
('RMSLE Score:', 0.50657793939990814)
('RMSLE Score:', 0.5171768054536352)
('RMSLE Score:', 0.28609762887474588)
('RMSLE Score:', 0.50657877081196812)
('RMSLE Score:', 0.28609762887474588)
('RMSLE Score:', 0.50657877081196812)
('RMSLE Score:', 0.51816565012259852)
('RMSLE Score:', 0.3223143688770056)
('RMSLE Score:', 0.53014686360149743)
('RMSLE Score:', 0.53895664744063465)

In [34]:
print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag0))



print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag1))



print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag2))



print ('RMSLE Score:', rmse(FE.train.Demanda_uni_equil, FE.train.Lag3))

('RMSLE Score:', 0.28609762887474588)
('RMSLE Score:', 0.28609762887474588)
('RMSLE Score:', 0.28609762887474588)
('RMSLE Score:', 0.3223143688770056)